force-app/main/default/flows/AddRequirementAttachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email confirming a Requirement has been successfully submitted to your organization.</description>
        <name>Submit_Progress_Report_Confirmation</name>
        <label>Submit Progress Report Confirmation</label>
        <locationX>1537</locationX>
        <locationY>41</locationY>
        <actionName>outfunds__Requirement__c.sfdo_grants__Submit_Requirement_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SubmitSuccess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>outfunds__Requirement__c.sfdo_grants__Submit_Requirement_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>A file can be attached if the status of the Requirement is &quot;Open&quot; or &quot;In Progress&quot;</description>
        <name>IsAttachmentAllowed</name>
        <label>Is attachment allowed</label>
        <locationX>559</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>AttachmentNotAllowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsSubmittable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Requirement.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Requirement.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmSubmit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Grants management flow</description>
    <formulas>
        <name>IsCommunityUser</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$User.ContactId}))</expression>
    </formulas>
    <formulas>
        <description>First 15 characters of the Running User&apos;s ID</description>
        <name>RunningUserId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.Id}, 15)</expression>
    </formulas>
    <interviewLabel>Add Requirement Attachment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Add Requirement Attachment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the application record so we can check if the current user can submit this application.</description>
        <name>Requirement</name>
        <label>Requirement</label>
        <locationX>403</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAttachmentAllowed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>outfunds__Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequirement</name>
        <label>Update requirement</label>
        <locationX>972</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Submit_Progress_Report_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>outfunds__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>outfunds__Requirement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>AttachmentNotAllowed</name>
        <label>Attachment Not Allowed</label>
        <locationX>568</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotSubmittableMessage</name>
            <fieldText>Files can&apos;t be attached to this requirement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmSubmit</name>
        <label>Confirm user wants to add a file</label>
        <locationX>727</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateRequirement</targetReference>
        </connector>
        <fields>
            <name>SubmitConfirmation</name>
            <fieldText>Click Upload Files to attach supporting documentation to the requirement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UploadedFiles</name>
            <fieldText>&lt;p&gt;{!FileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>755</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>We&apos;re sorry, but an error occurred.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmitSuccess</name>
        <label>SubmitSuccess</label>
        <locationX>1208</locationX>
        <locationY>40</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmitSuccessMessage</name>
            <fieldText>Your file has been uploaded.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>63</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Requirement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the application record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
