force-app/main/default/flows/Bots_Check_for_Knowledge_Article_Chat_Answer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Internal_KB_URL</name>
        <label>Get Internal KB URL</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_HTML_from_KB_Answer</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>Knowledge__kav</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>inKB</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>kbINTurl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_KB_URLpath</name>
        <label>Get external KB URL path</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>PBUCommBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_KA_have_Chat_snippet</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CommunityName</name>
            <value>
                <elementReference>fExperienceSiteName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PBUCommBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>kbURLpath</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Remove_HTML_from_KB_Answer</name>
        <label>Remove HTML from KB Answer</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Output_Assignments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>Get_KB_article.Answer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlMarkup</nameSegment>
        <outputParameters>
            <assignToReference>fullKBanswerNOHTML</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Community_KB_URL</name>
        <label>Set External KB URL</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>kbURLextFINAL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fKBurlFull</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Assignments</name>
        <label>Set Output Assignments</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>kbSnippetExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kbSnippetFINAL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fkbSnippetTruc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kbINTurlFINAL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fINTurlFINAL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Community_KB_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Assignments2</name>
        <label>Set Output Assignments</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>kbSnippetExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Community_KB_URL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_KA_have_Chat_snippet</name>
        <label>Does KA have Chat snippet?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Assignments2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KB_article.Chat_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Internal_KB_URL</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fExperienceSiteName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!txtChatStartSiteName}),&quot;LPI&quot;,{!txtChatStartSiteName})</expression>
    </formulas>
    <formulas>
        <name>fINTurlFINAL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!kbINTurl}, &quot;my.salesforce.com&quot;, &quot;lightning.force.com/lightning/r/Knowledge__kav&quot;) &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>fkbSnippetTruc</name>
        <dataType>String</dataType>
        <expression>left({!fullKBanswerNOHTML},150) &amp; &quot;....&quot;</expression>
    </formulas>
    <formulas>
        <name>fKBurlFull</name>
        <dataType>String</dataType>
        <expression>{!kbURLpath} &amp; {!Get_KB_article.UrlName}</expression>
    </formulas>
    <interviewLabel>Bots - Check for Knowledge Article Chat Answer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bots - Check for Knowledge Article Chat Answer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_KB_article</name>
        <label>Get KB article</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_KB_URLpath</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inKB.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_KB_article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fullKBanswerNOHTML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inKB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>kbINTurl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kbINTurlFINAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kbSnippetExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kbSnippetFINAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kbSnippetTruc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kbURLextFINAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kbURLfull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kbURLpath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtChatStartSiteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
