force-app/main/default/flows/Bots_Look_Up_Cases_Grants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Case_Count</name>
        <label>Set Case Count</label>
        <locationX>535</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>varCountCase</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>rvarlistCases</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Looks up Cases with the Type of Grants for a specific user when working with a Bot.</description>
    <interviewLabel>Bots - Look Up Cases (Grants) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bots - Look Up Cases (Grants)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves cases for the contact that is of the type Grant</description>
        <name>Get_Open_Cases_Grants_for_Contact</name>
        <label>Get Open Cases Grants for Contact</label>
        <locationX>228</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>rvarlistCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Application_Date__c</queriedFields>
        <queriedFields>Grant_Documentation_Status__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_Cases_Grants_for_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarlistCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the Location Record for use elsewhere</description>
        <name>varAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>varCountCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>ID of the location from the Get Facility Address lookup</description>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>varServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <description>Stores the value of the state requested by the customer via Paul the bot.</description>
        <name>varStateRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
