force-app/main/default/flows/CCM_Import_Case_Participants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Case_Participants_to_List</name>
        <label>Add Case Participants to List</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseProceedingParticipantRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>caseParticipantsList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Case_Proceeding_Participants</name>
        <label>Prepare Case Proceeding Participants</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseParticipantsList.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseParticipantsList.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseParticipantsList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantRecord.CaseProceedingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Proceeding.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseProceedingParticipantRecord.ParticipantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseParticipantsList.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Participants_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Case_Participants_Exist</name>
        <label>Do Case Participants Exist?</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Case_Proceeding_Participants_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Case_Proceeding_Participants_Exist</name>
        <label>Do Case Proceeding Participants Exist?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>caseParticipantsList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Proceeding_Participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CCM - Import Case Participants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCM - Import Case Participants</label>
    <loops>
        <name>caseParticipantsList</name>
        <label>Iterate with Case Participants</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Case_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Case_Proceeding_Participants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Proceeding_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Proceeding_Participants</name>
        <label>Create Case Proceeding Participants</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <inputReference>varCaseProceedingParticipantsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Participants</name>
        <label>Get Case Participants</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Proceeding_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Proceeding.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Proceeding</name>
        <label>Get Case Proceeding</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseProceeding</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Proceeding_Participants</name>
        <label>Get Case Proceeding Participants</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Case_Participants_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseProceedingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Proceeding.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseProceedingParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Proceeding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseProceedingParticipantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseProceedingParticipant</objectType>
    </variables>
    <variables>
        <name>currentItem_Collect_only_new_records_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseParticipant</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseParticipantsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseProceedingParticipantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseProceedingParticipant</objectType>
    </variables>
    <variables>
        <name>varCaseProceedingParticipantsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseProceedingParticipant</objectType>
    </variables>
</Flow>
