force-app/main/default/flows/Check_Contact_Email_Matches_User_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Input_Record</name>
        <label>Assign Input Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>inputRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userIdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account.User_Record__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Record2</name>
        <label>Assign Input Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>inputRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userIdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.User_Record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Email_Prompt</name>
        <label>Hide Email Prompt</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.User_record_email_prompt_hidden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Email_Prompt2</name>
        <label>Hide Email Prompt</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Person_Account.User_record_email_prompt_hidden__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Change_the_User_Record_to_match_the_Email_on_this_Contact_record</name>
        <choiceText>Change the User Record to match the Email on this record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change the User Record to match the Email on this Contact record</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leave_the_User_Record_as_is_and_do_not_prompt_again</name>
        <choiceText>Leave the User Record as-is and do not prompt again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leave the User Record as-is and do not prompt again</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Contact or Person Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Selection</name>
        <label>User Selection</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_User_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_the_User_Record_to_match_the_Email_on_this_Contact_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_record2</targetReference>
            </connector>
            <label>Update User Record</label>
        </rules>
        <rules>
            <name>Leave_As_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Leave_the_User_Record_as_is_and_do_not_prompt_again</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Source_Object</targetReference>
            </connector>
            <label>Leave As-is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Source_Object</name>
        <label>Which Source Object?</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAccount2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_Email_Prompt2</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
        <rules>
            <name>Contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_Email_Prompt</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>This flow appears on the contact record based a boolean formula on the contact record that is true IF the contact record has an associated user record AND the email records on the user/contact do not match.  The SE can choose to update the user record or leave as is and not prompt again, which sets another boolean field on the contact record referenced by the flow components visibility criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Check Contact Email Matches User Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Contact Email Matches User Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Input_Record2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Input_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>User_Record__pc</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_doesn_t_match_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userIdtoUpdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <inputReference>Get_Person_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_record2</name>
        <label>Update User Record</label>
        <locationX>94</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Which_Source_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userIdtoUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>emailToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Email_doesn_t_match_User_Record</name>
        <label>Email doesn&apos;t match User Record</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Selection</targetReference>
        </connector>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;⚠ &lt;/span&gt;&lt;span style=&quot;font-size: 36px; color: rgb(255, 0, 0);&quot;&gt;Attention SEs&lt;/span&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This person account may be able to access Experience Cloud Sites.  Check that the email on the Person Account and the Email on the User Record match to avoid problems with chat bots.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;If they are the same, select leave the record as-is and this prompt will go away.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;PersonAccount&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Email (from this record): {!Get_Person_Account.PersonEmail}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;User&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Email:  {!Get_User_Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How would you like to proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inputRecord</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PersonAccount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;⚠ &lt;/span&gt;&lt;span style=&quot;font-size: 36px; color: rgb(255, 0, 0);&quot;&gt;Attention SEs&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This contact can access Experience Cloud Sites and the Email doesn&apos;t match the email on their User record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Contact&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Email (from this record): {!Get_Contact_Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;User&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Email:  &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_User_Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How would you like to proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inputRecord</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contact</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Options</name>
            <choiceReferences>Change_the_User_Record_to_match_the_Email_on_this_Contact_record</choiceReferences>
            <choiceReferences>Leave_the_User_Record_as_is_and_do_not_prompt_again</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdtoUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
