force-app/main/default/flows/Chronos_Bot_Get_Service_Appointments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Friendly_DateTime</name>
        <label>Friendly DateTime</label>
        <locationX>754</locationX>
        <locationY>46</locationY>
        <actionName>ChronosBot_FriendlyDateTime</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>appointmentListList</name>
            <value>
                <elementReference>colLightningSchedulerServiceAppointments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChronosBot_FriendlyDateTime</nameSegment>
        <outputParameters>
            <assignToReference>colLightningSchedulerServiceAppointments</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Collect_Lightning_Scheduler_ServiceAppointments</name>
        <label>Collect Lightning Scheduler ServiceAppointments</label>
        <locationX>201</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>colLightningSchedulerServiceAppointments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkTypeGroup_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>currentServiceAppointment_Fields</name>
        <label>currentServiceAppointment</label>
        <locationX>858</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>currentServiceAppointment.Work_Type_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentWorkTypeGroupMember.WorkTypeGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentServiceAppointment_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eliminate_FSL_ServiceAppointments</name>
        <label>Eliminate FSL ServiceAppointments</label>
        <locationX>195</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Collect_Lightning_Scheduler_ServiceAppointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_or_WOLI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentServiceAppointment.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentServiceAppointment.ParentRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>colServiceAppointments_Loop</targetReference>
            </connector>
            <label>WO or WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_WorkTypeId</name>
        <label>Match WorkTypeId</label>
        <locationX>665</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>colServiceTerritoryWorkTypes_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkTypeGroupMember.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentServiceTerritoryWorkType.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentServiceAppointment_Fields</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkTypeGroup_Missing</name>
        <label>WorkTypeGroup Missing?</label>
        <locationX>378</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>colServiceAppointments_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>colWorkTypeGroupMembers_Get</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <description>Returns a list of Service Appointments for the specified Contact</description>
    <interviewLabel>Chronos Bot - Get Service Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Get Service Appointments</label>
    <loops>
        <name>colServiceAppointments_Loop</name>
        <label>colServiceAppointments</label>
        <locationX>388</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>currentServiceAppointment</assignNextValueToReference>
        <collectionReference>colServiceAppointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Eliminate_FSL_ServiceAppointments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Friendly_DateTime</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>colServiceTerritoryWorkTypes_Loop</name>
        <label>colServiceTerritoryWorkTypes</label>
        <locationX>858</locationX>
        <locationY>438</locationY>
        <assignNextValueToReference>currentServiceTerritoryWorkType</assignNextValueToReference>
        <collectionReference>colServiceTerritoryWorkTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_WorkTypeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>colWorkTypeGroupMembers_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>colWorkTypeGroupMembers_Loop</name>
        <label>colWorkTypeGroupMembers</label>
        <locationX>662</locationX>
        <locationY>395</locationY>
        <assignNextValueToReference>currentWorkTypeGroupMember</assignNextValueToReference>
        <collectionReference>colWorkTypeGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colServiceTerritoryWorkTypes_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>colServiceAppointments_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>colServiceAppointments_Get</name>
        <label>colServiceAppointments</label>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colServiceAppointments_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>colServiceAppointments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Service_Territory_Name__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Work_Type_Group_Name__c</queriedFields>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>colServiceTerritoryWorkTypes_Get</name>
        <label>colServiceTerritoryWorkTypes</label>
        <locationX>866</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colWorkTypeGroupMembers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryWorkType</object>
        <outputReference>colServiceTerritoryWorkTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>colWorkTypeGroupMembers_Get</name>
        <label>colWorkTypeGroupMembers</label>
        <locationX>755</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colServiceTerritoryWorkTypes_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkTypeGroupMember</object>
        <outputReference>colWorkTypeGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>WorkTypeGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>currentServiceAppointment_Get</name>
        <label>currentServiceAppointment</label>
        <locationX>1023</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colServiceTerritoryWorkTypes_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>currentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>currentServiceAppointment_Update</name>
        <label>currentServiceAppointment</label>
        <locationX>1023</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>currentServiceAppointment_Get</targetReference>
        </connector>
        <inputReference>currentServiceAppointment</inputReference>
    </recordUpdates>
    <startElementReference>colServiceAppointments_Get</startElementReference>
    <status>Active</status>
    <variables>
        <name>colLightningSchedulerServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colServiceTerritoryWorkTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>currentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentServiceTerritoryWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>currentWorkTypeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
