force-app/main/default/flows/Chronos_Bot_Get_Service_Appointment_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Returns the WorkTypeGroup and ServiceTerritoryMember for the specified Service Appointment and ServiceTerritory</description>
    <interviewLabel>Chronos Bot - Get Service Appointment Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Get Service Appointment Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AssignedResource</name>
        <label>AssignedResource</label>
        <locationX>254</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceTerritoryMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>rvarAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ServiceTerritoryMember</name>
        <label>ServiceTerritoryMember</label>
        <locationX>450</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkTypeGroupMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarAssignedResource.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceTerritory.Id</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>rvarServiceTerritoryMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>Service_Resource_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WorkTypeGroup</name>
        <label>WorkTypeGroup</label>
        <locationX>856</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarWorkTypeGroupMember.WorkTypeGroupId</elementReference>
            </value>
        </filters>
        <object>WorkTypeGroup</object>
        <outputReference>rvarWorkTypeGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WorkTypeGroupMember</name>
        <label>WorkTypeGroupMember</label>
        <locationX>657</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkTypeGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkTypeGroupMember</object>
        <outputReference>rvarWorkTypeGroupMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeGroupId</queriedFields>
    </recordLookups>
    <startElementReference>AssignedResource</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>rvarServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>rvarServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>rvarServiceTerritoryMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>rvarWorkTypeGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>rvarWorkTypeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
</Flow>
