force-app/main/default/flows/Chronos_Bot_Cancel_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ServiceAppointment_Fields</name>
        <label>Status = Canceled</label>
        <locationX>401</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceAppointment_Update</targetReference>
        </connector>
    </assignments>
    <description>Sets the Status of the specified Service Appointment to &apos;Canceled&apos;</description>
    <interviewLabel>Chronos - Cancel Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Cancel Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ServiceAppointment_Get</name>
        <label>ServiceAppointment</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>rvarServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Get2</name>
        <label>ServiceAppointment</label>
        <locationX>786</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>rvarServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Work_Type_Group_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ServiceAppointment_Update</name>
        <label>ServiceAppointment</label>
        <locationX>596</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ServiceAppointment_Get2</targetReference>
        </connector>
        <inputReference>rvarServiceAppointment</inputReference>
    </recordUpdates>
    <startElementReference>ServiceAppointment_Get</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
