force-app/main/default/flows/Chronos_Bot_Create_New_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignedResource_Fields</name>
        <label>AssignedResource Fields</label>
        <locationX>916</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>rvarAssignedResource.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarNewServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarAssignedResource.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarServiceTerritoryMember.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarAssignedResource.IsRequiredResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedResource_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceAppointment_Fields</name>
        <label>ServiceAppointment Fields</label>
        <locationX>589</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentWorkTypeGroupMember.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarNewServiceAppointment.Work_Type_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarWorkTypeGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceAppointment_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Match_WorkTypeId</name>
        <label>Match WorkTypeId</label>
        <locationX>373</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>colServiceTerritoryWorkTypes_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkTypeGroupMember.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentServiceTerritoryWorkType.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceAppointment_Fields</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Creates new Service Appointment and Assigned Resource records based on the specified parameters</description>
    <interviewLabel>Chronos Bot - Create New Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Create New Service Appointment</label>
    <loops>
        <name>colServiceTerritoryWorkTypes_Loop</name>
        <label>colServiceTerritoryWorkTypes</label>
        <locationX>381</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentServiceTerritoryWorkType</assignNextValueToReference>
        <collectionReference>colServiceTerritoryWorkTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_WorkTypeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>colWorkTypeGroupMembers_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>colWorkTypeGroupMembers_Loop</name>
        <label>colWorkTypeGroupMembers</label>
        <locationX>184</locationX>
        <locationY>283</locationY>
        <assignNextValueToReference>currentWorkTypeGroupMember</assignNextValueToReference>
        <collectionReference>colWorkTypeGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colServiceTerritoryWorkTypes_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AssignedResource_Create</name>
        <label>AssignedResource</label>
        <locationX>1136</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>ServiceAppointment_Get</targetReference>
        </connector>
        <inputReference>rvarAssignedResource</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ServiceAppointment_Create</name>
        <label>ServiceAppointment</label>
        <locationX>760</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>AssignedResource_Fields</targetReference>
        </connector>
        <inputReference>rvarNewServiceAppointment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>colServiceTerritoryWorkTypes_Get</name>
        <label>colServiceTerritoryWorkTypes</label>
        <locationX>387</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colWorkTypeGroupMembers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceTerritory.Id</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryWorkType</object>
        <outputReference>colServiceTerritoryWorkTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>colWorkTypeGroupMembers_Get</name>
        <label>colWorkTypeGroupMembers</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>colServiceTerritoryWorkTypes_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarWorkTypeGroup.Id</elementReference>
            </value>
        </filters>
        <object>WorkTypeGroupMember</object>
        <outputReference>colWorkTypeGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Get</name>
        <label>ServiceAppointment</label>
        <locationX>1136</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarNewServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>rvarNewServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Service_Territory_Name__c</queriedFields>
        <queriedFields>Work_Type_Group_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>colWorkTypeGroupMembers_Get</startElementReference>
    <status>Active</status>
    <variables>
        <name>colServiceTerritoryWorkTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>currentServiceTerritoryWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>currentWorkTypeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>rvarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvarAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarNewServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>rvarServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>rvarServiceTerritoryMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>rvarWorkTypeGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>varEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
