force-app/main/default/flows/Chronos_Bot_Reschedule_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Friendly_DateTime</name>
        <label>Friendly DateTime</label>
        <locationX>1023</locationX>
        <locationY>50</locationY>
        <actionName>ChronosBot_FriendlyDateTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ServiceAppointments</targetReference>
        </connector>
        <inputParameters>
            <name>appointmentListList</name>
            <value>
                <elementReference>colServiceAppointments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChronosBot_FriendlyDateTime</nameSegment>
        <outputParameters>
            <assignToReference>colServiceAppointments</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ServiceAppointment4</name>
        <label>ServiceAppointment</label>
        <locationX>857</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>colServiceAppointments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvarRescheduledServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Friendly_DateTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceAppointment_Fields</name>
        <label>ServiceAppointment</label>
        <locationX>226</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceAppointment_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>1013</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>rvarRescheduledServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentServiceAppointment.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceAppointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Matching_ServiceAppointment</name>
        <label>Matching ServiceAppointment</label>
        <locationX>760</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentServiceAppointment.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rvarRescheduledServiceAppointment.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Updates an existing Service Appointment with the specified Event Start and End DateTime fields</description>
    <interviewLabel>Chronos Bot - Reschedule Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Reschedule Service Appointment</label>
    <loops>
        <name>ServiceAppointments</name>
        <label>ServiceAppointments</label>
        <locationX>767</locationX>
        <locationY>339</locationY>
        <assignNextValueToReference>currentServiceAppointment</assignNextValueToReference>
        <collectionReference>colServiceAppointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matching_ServiceAppointment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ServiceAppointment_Get</name>
        <label>ServiceAppointment</label>
        <locationX>108</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>rvarRescheduledServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment_Get2</name>
        <label>ServiceAppointment</label>
        <locationX>626</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarRescheduledServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>rvarRescheduledServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Work_Type_Group_Name__c</queriedFields>
        <queriedFields>Service_Territory_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ServiceAppointment_Update</name>
        <label>ServiceAppointment</label>
        <locationX>436</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ServiceAppointment_Get2</targetReference>
        </connector>
        <inputReference>rvarRescheduledServiceAppointment</inputReference>
    </recordUpdates>
    <startElementReference>ServiceAppointment_Get</startElementReference>
    <status>Active</status>
    <variables>
        <name>colServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>rvarEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>rvarRescheduledServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>rvarServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
