force-app/main/default/flows/Chronos_Bot_Get_Active_Work_Type_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_WorkTypeGroup</name>
        <label>Add WorkTypeGroup</label>
        <locationX>1204</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>colWorkTypeGroupsInTerritory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentWorkTypeGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_WorkTypeGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_WorkTypeGroupMembers_in_This_ServiceTerritory</name>
        <label>Add WorkTypeGroupMembers in This ServiceTerritory</label>
        <locationX>1203</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>colWorkTypeGroupMembersInTerritory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentWorkTypeGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceTerritoryWorkType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Match_WorkTypeGroup</name>
        <label>Match WorkTypeGroup</label>
        <locationX>1200</locationX>
        <locationY>596</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Each_WorkTypeGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_WorkTypeGroup_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkTypeGroup.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentWorkTypeGroupMemberInTerritory.WorkTypeGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_WorkTypeGroup</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_WorkTypeId</name>
        <label>Match WorkTypeId</label>
        <locationX>1192</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>ServiceTerritoryWorkType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_WorkTypeId_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkTypeGroupMember.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentServiceTerritoryWorkType.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_WorkTypeGroupMembers_in_This_ServiceTerritory</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Returns a list of Work Type Group Members related to active Work Type Group records</description>
    <interviewLabel>Chronos Bot - Get Active Work Type Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chronos Bot - Get Active Work Type Groups</label>
    <loops>
        <name>Loop_Through_Each_WorkTypeGroup</name>
        <label>WorkTypeGroup</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <assignNextValueToReference>currentWorkTypeGroup</assignNextValueToReference>
        <collectionReference>colWorkTypeGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_WorkTypeGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WorkTypeGroupMembersInTerritory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ServiceTerritoryWorkType</name>
        <label>ServiceTerritoryWorkType</label>
        <locationX>886</locationX>
        <locationY>277</locationY>
        <assignNextValueToReference>currentServiceTerritoryWorkType</assignNextValueToReference>
        <collectionReference>colServiceTerritoryWorkType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_WorkTypeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WorkTypeGroupMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WorkTypeGroupMembers</name>
        <label>WorkTypeGroupMembers</label>
        <locationX>690</locationX>
        <locationY>274</locationY>
        <assignNextValueToReference>currentWorkTypeGroupMember</assignNextValueToReference>
        <collectionReference>colWorkTypeGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ServiceTerritoryWorkType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WorkTypeGroupMembersInTerritory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WorkTypeGroupMembersInTerritory</name>
        <label>WorkTypeGroupMembersInTerritory</label>
        <locationX>690</locationX>
        <locationY>599</locationY>
        <assignNextValueToReference>currentWorkTypeGroupMemberInTerritory</assignNextValueToReference>
        <collectionReference>colWorkTypeGroupMembersInTerritory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Each_WorkTypeGroup</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Work_Type_Groups</name>
        <label>WorkTypeGroups</label>
        <locationX>523</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkTypeGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkTypeGroup</object>
        <outputReference>colWorkTypeGroups</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceTerritoryWorkType</name>
        <label>ServiceTerritoryWorkType</label>
        <locationX>212</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkTypeGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceTerritoryInputId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryWorkType</object>
        <outputReference>colServiceTerritoryWorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkTypeGroupMembers</name>
        <label>WorkTypeGroupMembers</label>
        <locationX>368</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Work_Type_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkTypeGroupMember</object>
        <outputReference>colWorkTypeGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeGroupId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ServiceTerritoryWorkType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colServiceTerritoryWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroupMembersInTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>colWorkTypeGroupsInTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>currentServiceTerritoryWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryWorkType</objectType>
    </variables>
    <variables>
        <name>currentWorkTypeGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroup</objectType>
    </variables>
    <variables>
        <name>currentWorkTypeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>currentWorkTypeGroupMemberInTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>rvarServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>varServiceTerritoryInputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
