force-app/main/default/flows/Constituent_Identity_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that builds the identity verification context using the identity verification process definition specified in IdVerfProcessDefinition and information passed into the flow. Stores the result in the VerificationContext variable.</description>
        <name>BuildIdentityVerification</name>
        <label>Build Identity Verification Context</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>ScreenSearchCustomers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayFlowError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>callerObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
            <value>
                <elementReference>callerRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>buildIdentityVerification</nameSegment>
        <outputParameters>
            <assignToReference>VerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to build an identity verification context using the specified identity verification process definition and identity verification process detail for the callerObjectName record with an ID that equals callerRecordId. Stores the result in the selectedPrimaryVerificationContext variable.</description>
        <name>BuildIdentityVerificationContext</name>
        <label>Build Identity Verification Context</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>QueryVerificationData</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayFlowError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDetailName</name>
            <value>
                <elementReference>IdVerfProcessDetail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>callerObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
            <value>
                <elementReference>callerRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>buildIdentityVerification</nameSegment>
        <outputParameters>
            <assignToReference>selectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to build a secondary identity verification context using the specified identity verification process definition and identity verification process detail for the SelectedVerifiedResult record variable. Stores the result in the secondaryVerificationContext variable.</description>
        <name>BuildSecondaryIdentityVerificationContext</name>
        <label>Build Secondary Identity Verification Context</label>
        <locationX>512</locationX>
        <locationY>4034</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>VerifyLinkedCustomerIdentitySubflow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDetailName</name>
            <value>
                <elementReference>LinkedProcessDetailName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>selectedVerifiedResult</name>
            <value>
                <elementReference>SelectedVerifiedResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>buildIdentityVerification</nameSegment>
        <outputParameters>
            <assignToReference>secondaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an invocable action to get verification data for selectedPrimaryVerificationContext and adds the results to selectedPrimaryVerificationContext.</description>
        <name>QueryVerificationData</name>
        <label>Query Verification Data</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <actionName>getVerificationData</actionName>
        <actionType>getVerificationData</actionType>
        <connector>
            <targetReference>ScreenVerifyCallerIdentity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getVerificationData</nameSegment>
        <outputParameters>
            <assignToReference>selectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that saves the identity verification information for auditing purposes.  The following information is stored for audit: engagement interaction record name, engagement interaction record ID, initiating attendee ID, verification status, verification details, who the call&apos;s about, and engagement topic.</description>
        <name>StoreAuditInformation</name>
        <label>Store Audit Information</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <actionName>saveMemberVerificationSteps</actionName>
        <actionType>saveMemberVerificationSteps</actionType>
        <connector>
            <targetReference>WasVerificationSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementInteractionRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>engagementTopic</name>
            <value>
                <elementReference>RadioButtonsCallReasons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiatingAttendeeId</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationStatus</name>
            <value>
                <elementReference>VerificationStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoIsTheCallAbout</name>
            <value>
                <elementReference>RadioButtonsWhoIsCaller</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveMemberVerificationSteps</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that saves the linked identity verification information for auditing purposes. The following information is stored for audit: engagement interaction ID, initiating attendee ID, verification status, engagement topic, verification context, and who the call&apos;s about.</description>
        <name>StoreLinkedVerfAuditInfo</name>
        <label>Store Linked Verification Audit Information</label>
        <locationX>512</locationX>
        <locationY>4250</locationY>
        <actionName>saveMemberVerificationSteps</actionName>
        <actionType>saveMemberVerificationSteps</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementInteractionRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>engagementTopic</name>
            <value>
                <elementReference>RadioButtonsCallReasons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiatingAttendeeId</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>secondaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationStatus</name>
            <value>
                <elementReference>LinkedCallerIdentityVerificationStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoIsTheCallAbout</name>
            <value>
                <elementReference>RadioButtonsWhoIsCaller</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveMemberVerificationSteps</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Sets CallerName to the label of the current verified detail.</description>
        <name>SetCallerName</name>
        <label>Set Caller Name</label>
        <locationX>732</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>CallerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughVerifiedDetails.label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughVerifiedDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the value of callerRecordId to the InitiatingAttendeeId field of the engagementInteraction record variable.</description>
        <name>SetCallerRecordId</name>
        <label>Set Caller Record ID</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>callerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttendeeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildIdentityVerificationContext</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets LinkedProcessDetailName to the linkedVerificationProcessDetailName field of the current ProcessDetailCollection item.</description>
        <name>SetLinkedProcessDetailName</name>
        <label>Set LinkedProcessDetailName</label>
        <locationX>732</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>LinkedProcessDetailName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughProcessDetails.linkedVerificationProcessDetailName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughProcessDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ProcessDetailCollection to the details of the process definition for the selectedPrimaryVerificationContext.</description>
        <name>SetProcessDetailCollection</name>
        <label>Set ProcessDetailCollection</label>
        <locationX>644</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>ProcessDetailCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedPrimaryVerificationContext.processDefinition.processDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughProcessDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets VerifiedDetailsCollection to the verified details of the SelectedVerifiedResult.</description>
        <name>SetVerifiedDetailsCollection</name>
        <label>Set VerifiedDetailsCollection</label>
        <locationX>644</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>VerifiedDetailsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedVerifiedResult.verifiedDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughVerifiedDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the choice for address change in ScreenSelectCallReason.</description>
        <name>AddressChangeChoice</name>
        <choiceText>{!AddressChangeChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AddressChangeChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <name>BenefitAssistanceChoice</name>
        <choiceText>{!BenefitAssistanceChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BenefitAssistanceChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for brand awareness in ScreenSelectCallReason.</description>
        <name>BrandAwarenessChoice</name>
        <choiceText>{!BrandAwarenessChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BrandAwarenessChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for dissatisfied with a product in ScreenSelectCallReason.</description>
        <name>DissatisfiedWithProductChoice</name>
        <choiceText>{!DissatisfiedWithProductChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DissatisfiedWithProductChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for a miscellaneous reason in ScreenSelectCallReason.</description>
        <name>MiscellaneousReasonChoice</name>
        <choiceText>{!MiscellaneousReasonChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MiscellaneousReasonChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for password reset in ScreenSelectCallReason.</description>
        <name>PasswordResetChoice</name>
        <choiceText>{!PasswordResetChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PasswordResetChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for request product information in ScreenSelectCallReason.</description>
        <name>RequestProductInfoChoice</name>
        <choiceText>{!RequestProductInfoChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RequestProductInfoChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for caller in ScreenWhoIsTheCallAbout.</description>
        <name>SelfChoice</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for someone else in ScreenWhoIsTheCallAbout.</description>
        <name>SomeoneElseChoice</name>
        <choiceText>Someone Else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone Else</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for technical issues in ScreenSelectCallReason.</description>
        <name>TechnicalIssuesChoice</name>
        <choiceText>{!TechnicalIssuesChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TechnicalIssuesChoiceLabel</elementReference>
        </value>
    </choices>
    <constants>
        <description>Stores the prefix for an account record ID.</description>
        <name>AccountPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the heading for the Additional Verification Information section of ComponentVerifyCallerIdentity.</description>
        <name>AdditionalVerifiersHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instructions for the Additional Verification Information section of ComponentVerifyCallerIdentity.</description>
        <name>AdditionalVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify at least {0} field {1}.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the address change choice.</description>
        <name>AddressChangeChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Address change</stringValue>
        </value>
    </constants>
    <constants>
        <name>BenefitAssistanceChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefit Assistance</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the brand awareness choice.</description>
        <name>BrandAwarenessChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand awareness</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsCallReasons screen component.</description>
        <name>CallReasonRadioButtonsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What is the reason for this engagement?</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores a Boolean value indicating whether the contact center agent (CCA) can proceed to the next screen when ComponentSearchResults in ScreenSearchResults displays no results, thereby skipping validation.</description>
        <name>CanContinueWithNoSearchResults</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a contact record ID.</description>
        <name>ContactPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the primary message displayed to the user by  ComponentDisplaySecondarySearchMessage on  ScreenDisplaySecondarySearchMessage.</description>
        <name>ContinueToSecondarySearchMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Click Next to search for the linked customer.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the dissatisfied with product choice.</description>
        <name>DissatisfiedWithProductChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissatisfied with product</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for an engagement interaction record ID.</description>
        <name>EngagementInteractionPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0u3</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the name of the default process detail that&apos;s used for the customer search. Customize the SampleAccountSearch detail. Or create your own detail and enter its name as the constant&apos;s value.</description>
        <name>IdVerfProcessDetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SampleAccountSearch</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a lead record ID.</description>
        <name>LeadPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Q</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a messaging session record ID.</description>
        <name>MessagingSessionPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0Mw</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the miscellaneous reason choice.</description>
        <name>MiscellaneousReasonChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that&apos;s displayed to the flow user when GetEngagementInteraction returns a null record or when anything else goes wrong with GetEngagementInteraction.</description>
        <name>NoRecordFoundMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn&apos;t find a matching engagement interaction record. Try again or ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that&apos;s displayed to the flow user when a record ID isn&apos;t passed into the flow.</description>
        <name>NoRecordMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn&apos;t find that record. Try again or ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the password reset choice.</description>
        <name>PasswordResetChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Password reset</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the request product information choice.</description>
        <name>RequestProductInfoChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request product information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the heading for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Required Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instruction for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify all the fields.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the technical issues choice.</description>
        <name>TechnicalIssuesChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical issues</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message indicating that the caller’s identity wasn’t verified.</description>
        <name>VerificationFailedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The customer’s identity wasn’t verified. Don&apos;t process this customer’s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message shown on ScreenDisplayVerificationNotRequiredMessage.</description>
        <name>VerificationNotRequiredMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The selected reason doesn&apos;t require identity verification. Continue to process the customer&apos;s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a voice call record ID.</description>
        <name>VoiceCallPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0LQ</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsWhoIsCaller screen component.</description>
        <name>WhoIsCallerRadioButtonLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Who is this engagement about?</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a record ID was passed into the flow.</description>
        <name>HaveRecordId</name>
        <label>Have Record ID?</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayNoRecordMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWhatRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether there&apos;s an engagement attendee record.</description>
        <name>IsEngagementAttendeePresent</name>
        <label>Is Engagement Attendee Present?</label>
        <locationX>446</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>UpdateEngagementAttendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEngagementAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEngagementAttendee</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the process detail for secondary verifications is configured.</description>
        <name>IsLinkedProcessDetailConfigured</name>
        <label>Is Linked Process Detail Configured?</label>
        <locationX>644</locationX>
        <locationY>3818</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayPrimaryOnlySuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsConfigured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LinkedProcessDetailName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplaySecondarySearchMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which type of record was passed into the flow in recordId.</description>
        <name>IsWhatRecord</name>
        <label>What Type of Record?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenSelectCallReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Voice Call (Default)</defaultConnectorLabel>
        <rules>
            <name>HaveEngagementInteractionRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>EngagementInteractionPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEngagementInteraction</targetReference>
            </connector>
            <label>Engagement Interaction</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether verification is required for the selected call reason.</description>
        <name>RequiresVerification</name>
        <label>Requires Verification?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ScreenWhoIsTheCallAbout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>ValidationNotRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonsCallReasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MiscellaneousReasonChoiceLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayVerificationNotRequiredMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to update the record. Records that are updated must be either an engagement interaction, messaging session, or voice caller record and have a selected primary verification context for either an account or contact record.</description>
        <name>UpdateRecord</name>
        <label>Update Record?</label>
        <locationX>644</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>SetProcessDetailCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RecordUpdate</name>
            <conditionLogic>(1 OR 4 OR 5) AND (2 OR 3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>EngagementInteractionPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AccountPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>ContactPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>VoiceCallPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>MessagingSessionPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>LeadPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEngagementRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the caller was identified based on the information passed into the flow.</description>
        <name>WasCallerIdentified</name>
        <label>Caller Identified?</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>BuildIdentityVerification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsIdentified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonsWhoIsCaller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelfChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttendeeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCallerObjectName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the caller’s identity was verified.</description>
        <name>WasVerificationSuccessful</name>
        <label>Was Verification Successful?</label>
        <locationX>842</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayFailureMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>WasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Constituent Identity Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Constituent Identity Verification</label>
    <loops>
        <description>Repeats actions in a loop for each process detail in ProcessDetailCollection.</description>
        <name>IterateThroughProcessDetails</name>
        <label>Iterate Through Process Details</label>
        <locationX>644</locationX>
        <locationY>3110</locationY>
        <collectionReference>ProcessDetailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetLinkedProcessDetailName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetVerifiedDetailsCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in a loop for each verified detail in VerifiedDetailsCollection.</description>
        <name>IterateThroughVerifiedDetails</name>
        <label>Iterate Through Verified Details</label>
        <locationX>644</locationX>
        <locationY>3518</locationY>
        <collectionReference>VerifiedDetailsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCallerName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsLinkedProcessDetailConfigured</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an engagement attendee record and sets the engagement ID to the engagement interaction record ID and the external attendee ID to the selected search result record ID. Stores the result in the Engagement AttendeeId from CreateEngagementAttendee variable.</description>
        <name>CreateEngagementAttendee</name>
        <label>Create Engagement Attendee</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>SetProcessDetailCollection</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalAttendeeId</field>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an engagement topic record with the engagement ID, the reason selected in ScreenSelectCallReason, and the selectedRecordId of the SelectedPrimaryVerificationContext&apos;s selectedSearchResult field. Stores the result in the EngagementTopicId from CreateEngagementTopic variable.</description>
        <name>CreateEngagementTopic</name>
        <label>Create Engagement Topic</label>
        <locationX>446</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>IsEngagementAttendeePresent</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RadioButtonsCallReasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedPersonId</field>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementTopic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the identity verification process detail record with a developer name that matches the value in IdVerfProcessDetail and stores the record&apos;s ObjectName in the callerObjectName variable.</description>
        <name>GetCallerObjectName</name>
        <label>Get Caller Object Name</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCallerRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDetail</elementReference>
            </value>
        </filters>
        <object>IdentityVerificationProcDtl</object>
        <outputAssignments>
            <assignToReference>callerObjectName</assignToReference>
            <field>ObjectName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets an engagement attendee record with an EngagementID that matches the ID of the engagement interaction passed into the flow and that has an ExternalAttendeeId that matches the selectedRecordId of the SelectedPrimaryVerificationContext&apos;s selectedSearchResult field. Stores the ID, EngagementId, and ExternalAttendeeId of the result in the CurrentEngagementAttendee record variable.</description>
        <name>GetEngagementAttendee</name>
        <label>Get Engagement Attendee</label>
        <locationX>446</locationX>
        <locationY>2402</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateEngagementTopic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalAttendeeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </filters>
        <object>EngagementAttendee</object>
        <outputReference>CurrentEngagementAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EngagementId</queriedFields>
        <queriedFields>ExternalAttendeeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the engagement interaction record that was passed into the flow and stores initiating attendee ID field in the AttendeeId variable.</description>
        <name>GetEngagementInteraction</name>
        <label>Get Engagement Interaction</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSelectCallReason</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayNoRecordFoundMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>EngagementInteraction</object>
        <outputAssignments>
            <assignToReference>AttendeeId</assignToReference>
            <field>InitiatingAttendeeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the IsVerified field to true and the VerificationTime field to the current date and time for the engagement record with an ID matching the engagement attendee ID in the CurrentEngagementAttendee record variable.</description>
        <name>UpdateEngagementAttendee</name>
        <label>Update Engagement Attendee</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>SetProcessDetailCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEngagementAttendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates  engagementInteraction record fields. Sets IsAttendeeVerified to true, InitiatingAttendeeId to the selectedRecordId of the selectedPrimaryVerificationContext&apos;s selectedSearchResult field, and AttendeeVerificationTime to the current date and time.</description>
        <name>UpdateEngagementRecord</name>
        <label>Update Engagement Record</label>
        <locationX>446</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>GetEngagementAttendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendeeVerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAttendeeVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
    </recordUpdates>
    <screens>
        <description>Displays a message to the user indicating that the caller’s identity wasn’t verified.</description>
        <name>ScreenDisplayFailureMessage</name>
        <label>Display Failure Message</label>
        <locationX>1040</locationX>
        <locationY>2186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showIDVErrorMsg</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isVerificationFailError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VerificationFailedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!VerificationFailedMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the flow fault message to the flow user when an Action element fails.</description>
        <name>ScreenDisplayFlowError</name>
        <label>Display Flow Error</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessageDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user.</description>
        <name>ScreenDisplayNoRecordFoundMessage</name>
        <label>Display No Record Found Message</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordFoundDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!&lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;NoRecordFoundMessage&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that a record ID wasn&apos;t passed into the flow.</description>
        <name>ScreenDisplayNoRecordMessage</name>
        <label>Display No Record Message</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!NoRecordMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a success message and automatically navigates the flow user to the customer details subtab. If you don&apos;t want the flow user to automatically be sent to the customer details subtab, set the Automatically Navigate to Details attribute to false.</description>
        <name>ScreenDisplayPrimaryOnlySuccessMessage</name>
        <label>Display Success Message</label>
        <locationX>776</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComponentDisplayPrimaryOnlySuccessMessage</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageFooter</name>
                <value>
                    <stringValue>{!CallerName}&apos;s details are shown in a new subtab.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryVerificationContext</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to continue the flow and do a secondary search. Also displays a link to the details of the primary search. If you don&apos;t want the flow user to be able to navigate to the primary search details, set Secondary Message to an empty string.</description>
        <name>ScreenDisplaySecondarySearchMessage</name>
        <label>Display Secondary Search Message</label>
        <locationX>512</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BuildSecondaryIdentityVerificationContext</targetReference>
        </connector>
        <fields>
            <name>ComponentDisplaySecondarySearchMessage</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableNavigation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clickableMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageLabel</name>
                <value>
                    <elementReference>ContinueToSecondarySearchMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageFooter</name>
                <value>
                    <stringValue>{!CallerName}&apos;s details.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryVerificationContext</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Informs the flow user that verification isn&apos;t required for the selected call reason.</description>
        <name>ScreenDisplayVerificationNotRequiredMessage</name>
        <label>Display Verification Not Required Message</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VerificationNotRequiredDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!VerificationNotRequiredMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to specify a search type and keywords to search using the VerificationContext created inBuildIdentityVerification. Stores the results in the Keyword, SearchType, and selectedPrimaryVerificationContext variables.</description>
        <name>ScreenSearchCustomers</name>
        <label>Search Customers</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenSearchResults</targetReference>
        </connector>
        <fields>
            <name>ComponentSearchCustomers</name>
            <extensionName>industries_common:idvSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>VerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Keywords</assignToReference>
                <name>searchTerm</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SearchType</assignToReference>
                <name>searchFilter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedPrimaryVerificationContext</assignToReference>
                <name>selectedVerificationContext</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Performs the search for a customer with the keywords and search type specified by the flow user in ScreenSearchCustomers; displays the results to the flow user; and stores the results of the identity verification search in selectedPrimaryVerificationContext.</description>
        <name>ScreenSearchResults</name>
        <label>Display Search Results</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenVerifyCallerIdentity</targetReference>
        </connector>
        <fields>
            <name>ComponentSearchResults</name>
            <extensionName>industries_common:idvSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchFilter</name>
                <value>
                    <elementReference>SearchType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>Keywords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoSearchResults</name>
                <value>
                    <elementReference>CanContinueWithNoSearchResults</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedPrimaryVerificationContext</assignToReference>
                <name>verificationContext</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HasSearchResults</assignToReference>
                <name>searchResultsEmpty</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the reason for the call.</description>
        <name>ScreenSelectCallReason</name>
        <label>Select Call Reason</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RequiresVerification</targetReference>
        </connector>
        <fields>
            <name>RadioButtonsCallReasons</name>
            <choiceReferences>AddressChangeChoice</choiceReferences>
            <choiceReferences>PasswordResetChoice</choiceReferences>
            <choiceReferences>TechnicalIssuesChoice</choiceReferences>
            <choiceReferences>MiscellaneousReasonChoice</choiceReferences>
            <choiceReferences>BenefitAssistanceChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!CallReasonRadioButtonsLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a list of information the CCA must use for verifying the caller, attempts to verify the caller, and stores the results in the SelectedVerifiedResult, linkedVerificationContext, and VerificationStatus variables.</description>
        <name>ScreenVerifyCallerIdentity</name>
        <label>Verify Caller Identity</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StoreAuditInformation</targetReference>
        </connector>
        <fields>
            <name>ComponentVerifyCallerIdentity</name>
            <extensionName>industries_common:identityVerification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationStatus</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>selectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationRetryCounter</name>
                <value>
                    <elementReference>VerificationRetryCounter</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VerificationStatus</assignToReference>
                <name>verificationStatus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedPrimaryVerificationContext</assignToReference>
                <name>verificationContext</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedVerifiedResult</assignToReference>
                <name>selectedVerifiedResult</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VerificationRetryCounter</assignToReference>
                <name>verificationRetryCounter</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the person the call is about.</description>
        <name>ScreenWhoIsTheCallAbout</name>
        <label>Who’s the Call About?</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WasCallerIdentified</targetReference>
        </connector>
        <fields>
            <name>RadioButtonsWhoIsCaller</name>
            <choiceReferences>SelfChoice</choiceReferences>
            <choiceReferences>SomeoneElseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!WhoIsCallerRadioButtonLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_se__idvprimary</sourceTemplate>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls the Linked Caller Identity Subflow and passes the EngagementmentInteraction and  secondaryVerificationContext variables. It also passes the object name and record ID for selectedPrimaryVerificationContext. Stores the results in the secondaryVerificationContext record variable.</description>
        <name>VerifyLinkedCustomerIdentitySubflow</name>
        <label>Verify Linked Customer Identity</label>
        <locationX>512</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>StoreLinkedVerfAuditInfo</targetReference>
        </connector>
        <flowName>setup_se__idvsecondary</flowName>
        <inputAssignments>
            <name>currentEngagementInteractionRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>linkedVerificationContext</name>
            <value>
                <elementReference>secondaryVerificationContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryObjectApiName</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryRecordId</name>
            <value>
                <elementReference>selectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>secondaryVerificationContext</assignToReference>
            <name>linkedVerificationContext</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LinkedCallerIdentityVerificationStatus</assignToReference>
            <name>VerificationStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Stores the ID of the customer initiating the engagement.</description>
        <name>AttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the customer name to be displayed in ScreenDisplaySuccessMessage or ScreenSecondarySearch.</description>
        <name>CallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the caller&apos;s object passed into the flow.</description>
        <name>callerObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the caller passed into the flow.</description>
        <name>callerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores details about the current engagement attendee, including the ID, EngagementId, and the ExternalAttendeeId of the customer or the customer&apos;s representative who initiated the interaction.</description>
        <name>CurrentEngagementAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementAttendee</objectType>
    </variables>
    <variables>
        <description>Stores the engagement interaction record that was passed into the flow.</description>
        <name>engagementInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementInteraction</objectType>
    </variables>
    <variables>
        <description>Stores a Boolean value indicating whether search results were found. It&apos;s set to True if search results are returned by ComponentSearchResults in ScreenSearchResults.</description>
        <name>HasSearchResults</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the name of the identity verification process definition record. You can customize the SampleVerifiationFlow definition. You can also create your own definition and enter its name in place of SampleVerificationFlow.</description>
        <name>IdVerfProcessDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SampleVerificationFlow</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the keywords specified by the flow user for the customer search.</description>
        <name>Keywords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkedCallerIdentityVerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the name of the current process detail. If necessary, used to do a secondary identity verification. Default value is Agent.</description>
        <name>LinkedProcessDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_ProcessDetail records, containing a list of process details used for verification.</description>
        <name>ProcessDetailCollection</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the search type selected by the flow user for the customer search.</description>
        <name>SearchType</name>
        <apexClass>id_verification__SearchFilters</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an Apex id_verification_VerificationContext record, containing the secondary verification context that was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>secondaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryVerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Apex id_verification_VerficationContext record, containing the verification context found using the keywords and search type for the customer search, which was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>selectedPrimaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores anApex id_verification_SelectedVerifiedResult record, containing the verified result of the primary search.</description>
        <name>SelectedVerifiedResult</name>
        <apexClass>id_verification__SelectedVerifiedResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the identity verification context for the caller using the specified identity verification process definition.</description>
        <name>VerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of times identity verification has been attempted.</description>
        <name>VerificationRetryCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the status of the verification.</description>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_VerifiedDetails records, containing a list of process details that were used to verify the SelectedVerifiedResult.</description>
        <name>VerifiedDetailsCollection</name>
        <apexClass>id_verification__VerifiedDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
