force-app/main/default/flows/CreateActionPlanForBusinessInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignActionPlanToVisit</name>
        <label>AssignActionPlanToVisit</label>
        <locationX>917</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanTemplateVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplate.ActionPlanType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateActionPlan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actionplantemplate</name>
        <label>Actionplantemplate?</label>
        <locationX>344</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>GetActionPlanTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoActionPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVisitType.Action_Plan_Template__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>NoActionPlan</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the action plan template is Safety Complaint Inspection, then it will bypass the account and contact and will not create the visited party information</description>
        <name>Check_Action_Plan_Template</name>
        <label>Check Action Plan Template</label>
        <locationX>662</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Safety_Complaint_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVisitRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVisitType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Food Safety</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActionPlanToVisit</targetReference>
            </connector>
            <label>Account info not filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>Visittype</name>
        <label>Visittype?</label>
        <locationX>74</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>GetVisitType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoVisitType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVisitRecord.VisitTypeId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>NoVisitType</label>
        </rules>
    </decisions>
    <description>Updated action plan type</description>
    <environments>Default</environments>
    <interviewLabel>CreateActionPlanForBusinessInspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateActionPlanForBusinessInspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Visited_Party</name>
        <label>Create Visited Party</label>
        <locationX>917</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>AssignActionPlanToVisit</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimaryContact</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Contact_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VisitedParty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateActionPlan</name>
        <label>CreateActionPlan</label>
        <locationX>1112</locationX>
        <locationY>621</locationY>
        <inputReference>NewActionPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the Account Information of the primary person who is being inspected.  This will add that person as a visitor in the inspection so that we can capture their signature after the inspection is complete</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>559</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisitRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is the contact record associated with the visit (the person being inspected)</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>735</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Visited_Party</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplate</name>
        <label>GetActionPlanTemplate</label>
        <locationX>409</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActionPlanTemplateVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisitType.Action_Plan_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplateVersion</name>
        <label>GetActionPlanTemplateVersion</label>
        <locationX>513</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Action_Plan_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitRecord</name>
        <label>GetVisitRecord</label>
        <locationX>32</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visittype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitType</name>
        <label>GetVisitType</label>
        <locationX>207</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actionplantemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisitRecord.VisitTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InspectionType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetVisitRecord</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
</Flow>
