force-app/main/default/flows/Create_Funding_Award.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Q1Date</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+30</expression>
    </formulas>
    <formulas>
        <name>q2date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+90</expression>
    </formulas>
    <formulas>
        <name>q3date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+180</expression>
    </formulas>
    <formulas>
        <name>q4date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+270</expression>
    </formulas>
    <interviewLabel>Create Funding Award {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Funding Award</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_QuarterlyReport1</name>
        <label>QuarterlyReport2</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_2_of_QuarterlyReport1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Individual_Application.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>q2date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Create_Funding_Award_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Q2 Quarterly Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Narrative Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_QuarterlyReport1</name>
        <label>QuarterlyReport3</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_3_of_QuarterlyReport1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Individual_Application.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>q3date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Create_Funding_Award_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Q3 Quarterly Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Narrative Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_QuarterlyReport1</name>
        <label>QuarterlyReport4</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Individual_Application.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>q4date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Create_Funding_Award_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Q4 Quarterly Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Narrative Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Funding_Award_Record</name>
        <label>Create Funding Award Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>IAComplete</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_Awarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AwardeeId</field>
            <value>
                <elementReference>Get_Individual_Application.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetId</field>
            <value>
                <elementReference>BudgetId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionDate</field>
            <value>
                <elementReference>DecisionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingOpportunityId</field>
            <value>
                <elementReference>FundingOppId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IndividualApplicationId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>QuarterlyReport1</name>
        <label>QuarterlyReport1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_QuarterlyReport1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Individual_Application.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>Q1Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Create_Funding_Award_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Q1 Quarterly Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Narrative Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Funding_Award</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>IAComplete</name>
        <label>IAComplete</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>QuarterlyReport1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <screens>
        <name>Create_Funding_Award</name>
        <label>Create Funding Award</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Funding_Award_Record</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Individual_Application.ApplicationName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Funding_Award_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Funding_Award_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingOppId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FundingOpportunityId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Funding Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IndividualApplication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Individual_Application.FundingOpportunityId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Amount_Awarded</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Individual_Application.RequestedAmount</elementReference>
                    </defaultValue>
                    <fieldText>Amount Awarded</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>BudgetId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BudgetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IndividualApplication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Individual_Application.BudgetId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Funding_Award_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DecisionDate</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Decision Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Individual_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetFundingAwardFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <description>get current record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
