force-app/main/default/flows/Create_BLA_Business_Site_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>EmptyTheCollections</name>
        <label>EmptyTheCollections</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account_Locations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAssociatedLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_as_True</name>
        <label>Set Flag as True</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AddressMatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteAddressRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Addresses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyTheCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BLA_Business_Site_Address_0</name>
        <label>Update BLA Business Site Address</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>BLA.Business_Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BLA_Business_Site_Address_0_0</name>
        <label>Update BLA Business Site Address</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>BLA.Business_Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_BLA_have_Site_Address</name>
        <label>Does BLA have Site Address?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLA_has_Site_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BLA.SiteStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Locations</targetReference>
            </connector>
            <label>BLA has Site Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Address_Match</name>
        <label>Does Site Address Match?</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Addresses.Street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BLA.SiteStreet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_as_True</targetReference>
            </connector>
            <label>Address Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Address_Match_Found</name>
        <label>Is Address Match Found?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Create_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Match Not Found</defaultConnectorLabel>
        <rules>
            <name>Address_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressMatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BLA_Business_Site_Address_0_0</targetReference>
            </connector>
            <label>Address Match Found</label>
        </rules>
    </decisions>
    <interviewLabel>Create BLA Business Site Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create BLA Business Site Address</label>
    <loops>
        <name>Get_Addresses_from_Account_Locations</name>
        <label>Get Addresses from Account Locations</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Account_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Address_Match_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Addresses</name>
        <label>Loop through Addresses</label>
        <locationX>622</locationX>
        <locationY>638</locationY>
        <collectionReference>AccountAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Site_Address_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Addresses_from_Account_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Update_Visitor_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressType</field>
            <value>
                <stringValue>Mailing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>BLA.SiteCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>BLA.SiteCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>BLA.SiteLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>BLA.SiteLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>BLA.SitePostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>BLA.SiteState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>BLA.SiteStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Associated_Location</name>
        <label>Create Associated Location</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Update_BLA_Business_Site_Address_0</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>BLA.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BLA.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Locations</name>
        <label>Get Account Locations</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Addresses_from_Account_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BLA.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssociatedLocation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address</name>
        <label>Get Address</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Addresses_from_Account_Locations.LocationId</elementReference>
            </value>
        </filters>
        <object>Address</object>
        <outputReference>AccountAddresses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BLA</name>
        <label>Update BLA</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BLA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Site_Address__c</field>
            <value>
                <elementReference>BLA.Business_Site_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitor_Address</name>
        <label>Update Visitor Address</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Create_Associated_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>Create_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_BLA_have_Site_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>AddressMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BLA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>EmptyAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>EmptyAssociatedLocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>SiteAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Address</objectType>
    </variables>
</Flow>
