force-app/main/default/flows/Create_Site_Location_from_BLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Site Location from BLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maps 4 IDO - Create Site Location/Address from BLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Location_with_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressType</field>
            <value>
                <stringValue>Mailing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.SiteCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.SiteCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.SitePostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.SiteState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.SiteStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Location_with_Address</name>
        <label>Update Location with Address</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>Create_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
