force-app/main/default/flows/Delete_BLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Actions_to_Collection</name>
        <label>Assign Actions to Collection</label>
        <locationX>183</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>EnforcementActionsCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Violation_Enforcement_Actions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Violation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Actions</name>
        <label>Found Actions?</label>
        <locationX>471</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Delete_Action_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnforcementActionsCollectionVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Violation_Enforcement_Action</targetReference>
            </connector>
            <label>Yes, Found Actions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Violations</name>
        <label>Found Violations?</label>
        <locationX>164</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Get_Action_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_violations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Regulatory_Code_Violations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Each_Violation</targetReference>
            </connector>
            <label>Yes, found violations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_visits</name>
        <label>Found visits?</label>
        <locationX>848</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>delete_bla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Visit_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Each_Visit</targetReference>
            </connector>
            <label>Yes, Found Visit(s)</label>
        </rules>
    </decisions>
    <description>finds all related records and deletes them too</description>
    <interviewLabel>Delete BLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete BLA</label>
    <loops>
        <name>Loop_Through_Each_Violation</name>
        <label>Loop Through Each Violation</label>
        <locationX>51</locationX>
        <locationY>780</locationY>
        <collectionReference>Get_Regulatory_Code_Violations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Violation_Enforcement_Actions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Action_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Each_Visit</name>
        <label>Loop through Each Visit</label>
        <locationX>634</locationX>
        <locationY>427</locationY>
        <collectionReference>Get_Visits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Regulatory_Code_Violations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Actions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Action_Plan</name>
        <label>Delete Action Plan</label>
        <locationX>632</locationX>
        <locationY>1192</locationY>
        <connector>
            <targetReference>Delete_Visits</targetReference>
        </connector>
        <inputReference>Get_Action_Plan</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_bla</name>
        <label>delete bla</label>
        <locationX>828</locationX>
        <locationY>1343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Reg_Code_Violations</name>
        <label>Delete Reg Code Violations</label>
        <locationX>630</locationX>
        <locationY>1041</locationY>
        <connector>
            <targetReference>Delete_Action_Plan</targetReference>
        </connector>
        <inputReference>Get_Regulatory_Code_Violations</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Violation_Enforcement_Action</name>
        <label>Delete Violation Enforcement Action</label>
        <locationX>631</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Delete_Reg_Code_Violations</targetReference>
        </connector>
        <inputReference>EnforcementActionsCollectionVariable</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Visits</name>
        <label>Delete Visits</label>
        <locationX>633</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>delete_bla</targetReference>
        </connector>
        <inputReference>Get_Visits</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Action_Plan</name>
        <label>Get Action Plan</label>
        <locationX>50</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Each_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Each_Visit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regulatory_Code_Violations</name>
        <label>Get Regulatory Code Violations</label>
        <locationX>275</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Violations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Each_Visit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_Enforcement_Actions</name>
        <label>Get Violation Enforcement Actions</label>
        <locationX>52</locationX>
        <locationY>987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Actions_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ViolationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Each_Violation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ViolationEnforcementAction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visits</name>
        <label>Get Visits</label>
        <locationX>848</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>722</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Visits</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delete_BLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnforcementActionsCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ViolationEnforcementAction</objectType>
    </variables>
</Flow>
