force-app/main/default/flows/DTask_User_Contact_Upload_OF306.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>decisionContactFoundForUser</name>
        <label>Contact Found for User?</label>
        <locationX>42</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>getTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>outcomeContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenContactNotFound</targetReference>
            </connector>
            <label>Contact NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionTaskFoundForContact</name>
        <label>Task Found for Contact?</label>
        <locationX>259</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>screenUploadOF306</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Found</defaultConnectorLabel>
        <rules>
            <name>outcomeTaskNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNoTaskAssigned</targetReference>
            </connector>
            <label>Task NOT Found</label>
        </rules>
    </decisions>
    <description>Upload a scanned Form OF-306 document for the current user&apos;s related Contact record.</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DTask - User&apos;s Contact - Upload Form OF-306 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DTask - User&apos;s Contact - Upload OF-306</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentUserContact</name>
        <label>Get Current User&apos;s Contact</label>
        <locationX>50</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionContactFoundForUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTask</name>
        <label>Look for a Certain Task</label>
        <locationX>267</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionTaskFoundForContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DTask_Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DTask_User_Contact_Upload_OF306</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentUserContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMarkTaskComplete</name>
        <label>Mark Task as Complete</label>
        <locationX>641</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>screenComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>screenComplete</name>
        <label>Complete</label>
        <locationX>808</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textComplete</name>
            <fieldText>&lt;p&gt;Thank you for uploading your completed Form OF-306!  You may exit the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenContactNotFound</name>
        <label>Contact Not Found</label>
        <locationX>49</locationX>
        <locationY>602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textContactNotFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A contact record could not be found that matches the current user.  Please make sure that there is a Contact record where the User_Record__c field equals the current user&apos;s User Id.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNoTaskAssigned</name>
        <label>No OF-306 Task Assigned</label>
        <locationX>267</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textNoTaskAssigned</name>
            <fieldText>&lt;p&gt;You are not currently required to upload Form OF-306.  Please exit the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenUploadOF306</name>
        <label>Upload Scanned Form OF-306</label>
        <locationX>484</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateMarkTaskComplete</targetReference>
        </connector>
        <fields>
            <name>textUploadOF306</name>
            <fieldText>&lt;p&gt;Time to upload your OF-306!  To start, &lt;a href=&quot;https://thisoldcloud--c.visualforce.com/apex/pdfForm_OF306?id={!GetCurrentUserContact.Id}&quot; target=&quot;_blank&quot;&gt;download your Form OF-306&lt;/a&gt;, print it out, and complete it.  Once you&apos;ve scanned it as a PDF file, upload it here or fax it to (555) 555-5555.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fUploadOF306</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Scanned Form OF-306</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCurrentUserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCurrentUserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
