force-app/main/default/flows/DTask_User_Contact_Upload_I9.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>decisionContactFoundForUser</name>
        <label>Contact Found for User?</label>
        <locationX>42</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>getTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>outcomeContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenContactNotFound</targetReference>
            </connector>
            <label>Contact NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionTaskFoundForContact</name>
        <label>Task Found for Contact?</label>
        <locationX>260</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>screenUploadI9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Found</defaultConnectorLabel>
        <rules>
            <name>outcomeTaskNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNoTaskAssigned</targetReference>
            </connector>
            <label>Task NOT Found</label>
        </rules>
    </decisions>
    <description>Upload a scanned Form I-9 document for the current user&apos;s related Contact record.</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DTask - User&apos;s Contact - Upload I-9 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DTask - User&apos;s Contact - Upload I-9</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentUserContact</name>
        <label>Get Current User&apos;s Contact</label>
        <locationX>50</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionContactFoundForUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTask</name>
        <label>Look for a Certain Task</label>
        <locationX>268</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionTaskFoundForContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DTask_Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DTask_User_Contact_Upload_I9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentUserContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMarkTaskComplete</name>
        <label>Mark Task as Complete</label>
        <locationX>639</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>screenComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>screenComplete</name>
        <label>Complete</label>
        <locationX>806</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textComplete</name>
            <fieldText>&lt;p&gt;Thank you for uploading your completed I-9 form!  You may exit the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenContactNotFound</name>
        <label>Contact Not Found</label>
        <locationX>49</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textContactNotFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A contact record could not be found that matches the current user.  Please make sure that there is a Contact record where the User_Record__c field equals the current user&apos;s User Id.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNoTaskAssigned</name>
        <label>No I-9 Task Assigned</label>
        <locationX>268</locationX>
        <locationY>617</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textNoTaskAssigned</name>
            <fieldText>&lt;p&gt;You are not currently required to upload an I-9 form.  Please exit the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenUploadI9</name>
        <label>Upload I-9 Document</label>
        <locationX>483</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateMarkTaskComplete</targetReference>
        </connector>
        <fields>
            <name>textUploadI9</name>
            <fieldText>&lt;p&gt;Time to upload your I-9!  To start, &lt;a href=&quot;https://www.uscis.gov/system/files_force/files/form/i-9.pdf?download=1&quot; target=&quot;_blank&quot;&gt;download the I-9 form&lt;/a&gt;, print it out, and complete it.  Once you&apos;ve scanned it as a PDF file, upload it here or fax it to (555) 555-5555.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fUploadI9</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Scanned I-9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getCurrentUserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCurrentUserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
