force-app/main/default/flows/DynamicBannerCreateDynamicContentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>choice_ContentCard_URL_new</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;New Window (_new)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_new</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ContentCard_URL_self</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Same Window (_self)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_self</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceType_ContentCard</name>
        <choiceText>&lt;b style=&quot;font-size: 14px;&quot;&gt;Content Card&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceType_FlowButton</name>
        <choiceText>&lt;b style=&quot;font-size: 14px;&quot;&gt;Flow Button&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow Button</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decContentType</name>
        <label>Content Type?</label>
        <locationX>689</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outContentCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ContentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContentCardRecord</targetReference>
            </connector>
            <label>Content Card</label>
        </rules>
        <rules>
            <name>outFlowButton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ContentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Button - Flow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createFlowButtonRecord</targetReference>
            </connector>
            <label>Flow Button</label>
        </rules>
        <rules>
            <name>outLinkButton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ContentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Button - Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLinkButtonRecord</targetReference>
            </connector>
            <label>Link Button</label>
        </rules>
        <rules>
            <name>outMetric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ContentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metric</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createMetricRecord</targetReference>
            </connector>
            <label>Metric</label>
        </rules>
    </decisions>
    <description>Flow used to create Dynamic Content records on the Dynamic Banner Setup page.</description>
    <dynamicChoiceSets>
        <name>listContentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Content_Type__c</picklistField>
        <picklistObject>Dynamic_Content__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaDefaultDisplayOrder</name>
        <dataType>Number</dataType>
        <expression>{!getLastRecord.Display_Order__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Dynamic Banner - Create Dynamic Content {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Banner - Create Dynamic Content</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContentCardRecord</name>
        <label>Create Content Card Record</label>
        <locationX>1003</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>input_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <elementReference>input_ContentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>input_ContentCard_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>input_DisplayOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_URL__c</field>
            <value>
                <elementReference>input_ContentCard_FlowURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon__c</field>
            <value>
                <elementReference>input_ContentCard_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>input_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Label__c</field>
            <value>
                <elementReference>input_ContentCard_TitleLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL_Behavior__c</field>
            <value>
                <elementReference>input_ContentCard_URLBehavior</elementReference>
            </value>
        </inputAssignments>
        <object>Dynamic_Content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFlowButtonRecord</name>
        <label>Create Flow Button Record</label>
        <locationX>1003</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>input_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <elementReference>input_ContentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>input_DisplayOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_URL__c</field>
            <value>
                <elementReference>input_Flow_FlowURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon__c</field>
            <value>
                <elementReference>input_Button_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>input_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Label__c</field>
            <value>
                <elementReference>input_Button_TitleLabel</elementReference>
            </value>
        </inputAssignments>
        <object>Dynamic_Content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLinkButtonRecord</name>
        <label>Create Link Button Record</label>
        <locationX>1003</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>input_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <elementReference>input_ContentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>input_DisplayOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_URL__c</field>
            <value>
                <elementReference>input_Link_FlowURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon__c</field>
            <value>
                <elementReference>input_Button_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>input_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Label__c</field>
            <value>
                <elementReference>input_Button_TitleLabel</elementReference>
            </value>
        </inputAssignments>
        <object>Dynamic_Content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createMetricRecord</name>
        <label>Create Metric Record</label>
        <locationX>1003</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>input_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <elementReference>input_ContentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>input_Metric_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>input_DisplayOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>input_Tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Label__c</field>
            <value>
                <elementReference>input_Metric_TitleLabel</elementReference>
            </value>
        </inputAssignments>
        <object>Dynamic_Content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getLastRecord</name>
        <label>Get Last Record</label>
        <locationX>426</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen01</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dynamic_Content__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen01</name>
        <label>Select Content Type</label>
        <locationX>565</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decContentType</targetReference>
        </connector>
        <fields>
            <name>title01</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create a Dynamic Content Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select a Content Type and the proper inputs will appear.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ContentType</name>
            <choiceReferences>listContentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Content Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Tag</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getLastRecord.Tag__c</elementReference>
            </defaultValue>
            <fieldText>Tag:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Metric_TitleLabel</name>
                    <dataType>String</dataType>
                    <fieldText>Metric Number:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Metric_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Metric Label:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Metric</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Button_Icon</name>
                    <dataType>String</dataType>
                    <fieldText>Button Icon:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Button_TitleLabel</name>
                    <dataType>String</dataType>
                    <fieldText>Button Label:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Button</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Flow_FlowURL</name>
            <dataType>String</dataType>
            <fieldText>Flow API Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Button - Flow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Link_FlowURL</name>
            <dataType>String</dataType>
            <fieldText>Link / URL:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Button - Link</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_ContentCard_TitleLabel</name>
                    <dataType>String</dataType>
                    <fieldText>Card Title:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_ContentCard_Icon</name>
                    <dataType>String</dataType>
                    <fieldText>Card Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Content Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen01_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen01_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_ContentCard_FlowURL</name>
                    <dataType>String</dataType>
                    <fieldText>Content Link / URL:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen01_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_ContentCard_URLBehavior</name>
                    <choiceReferences>choice_ContentCard_URL_self</choiceReferences>
                    <choiceReferences>choice_ContentCard_URL_new</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_ContentCard_URL_self</defaultSelectedChoiceReference>
                    <fieldText>URL Behavior:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Content Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ContentCard_Description</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Content Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen01_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen01_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_DisplayOrder</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>formulaDefaultDisplayOrder</elementReference>
                    </defaultValue>
                    <fieldText>Display Order:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen01_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ContentType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>Record Created</label>
        <locationX>1274</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>title02</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Dynamic Banner&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create a Dynamic Content Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!input_ContentType}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; record has been created in the Dynamic Content object.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To make sure it is available in the desired instance of the component, make sure the component uses the same tag:  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!input_Tag}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text02z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;To create another Dynamic Content record, click the &quot;Finish&quot; button.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>getLastRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
