force-app/main/default/flows/EmployeeCreateCasesFromPositionAssetsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignAddCaseToColl</name>
        <label>Add Case to Coll</label>
        <locationX>2401</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>varCasesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPositionAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCountPositionAssets</name>
        <label>Count Position Assets</label>
        <locationX>1151</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>varCountPositionAssets</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPositionAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decPositionAssetsExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseAmmunition</name>
        <label>Create Case - Ammunition</label>
        <locationX>2769</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueAmory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeArmory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectAmmunition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested ammunition (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseAssistiveTech</name>
        <label>Create Case - Assistive Tech</label>
        <locationX>2587</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueAccessibility.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeAccommodation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectAccommodation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested device as a reasonable accommodation for a disability (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseDevice</name>
        <label>Create Case - Device</label>
        <locationX>2383</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueIT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeITCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectDevice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested device (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseOther</name>
        <label>Create Case - Other</label>
        <locationX>2958</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueHR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeHRCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested item (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseSoftware</name>
        <label>Create Case - Software</label>
        <locationX>2493</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueIT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeITCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectSoftware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested software (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseUniform</name>
        <label>Create Case - Uniform</label>
        <locationX>2680</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueHR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeHRCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectUniform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested uniform items (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateCaseWeapon</name>
        <label>Create Case - Weapon</label>
        <locationX>2862</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>varCaseToAdd.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire Onboarding Wizard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueAmory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeArmory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Requested_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPositionAssets.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCaseSubjectWeapon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToAdd.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The New Hire requires the requested weapon (see Requested Product field).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAddCaseToColl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decPositionAssetsExist</name>
        <label>Position Assets Exist?</label>
        <locationX>1287</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>outPositionAssetsExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountPositionAssets</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPositionOnContact</name>
        <label>Position on Contact?</label>
        <locationX>833</locationX>
        <locationY>891</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactRecord.Position_Current__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContactRecord.Position_Current__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getContactRecord.Position_Current__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPositionAssets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decProductFamily</name>
        <label>Product Family?</label>
        <locationX>2227</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>assignCreateCaseOther</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>outProductFamilyDevice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop Computer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laptop Computer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desk Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseDevice</targetReference>
            </connector>
            <label>Device</label>
        </rules>
        <rules>
            <name>outProductFamilySoftware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseSoftware</targetReference>
            </connector>
            <label>Software</label>
        </rules>
        <rules>
            <name>outProductFamilyReasonableAccommodation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Assistive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseAssistiveTech</targetReference>
            </connector>
            <label>Reasonable Accommodation</label>
        </rules>
        <rules>
            <name>outProductFamilyUniform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Uniform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseUniform</targetReference>
            </connector>
            <label>Uniform</label>
        </rules>
        <rules>
            <name>outProductFamilyWeapon</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weapon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseWeapon</targetReference>
            </connector>
            <label>Weapon</label>
        </rules>
        <rules>
            <name>outProductFamilyAmmunition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPositionAssets.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ammunition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateCaseAmmunition</targetReference>
            </connector>
            <label>Ammunition</label>
        </rules>
    </decisions>
    <description>Creates individual cases for each Position Asset related to a Contact&apos;s Position.</description>
    <formulas>
        <name>formulaCaseSubjectAccommodation</name>
        <dataType>String</dataType>
        <expression>&quot;Assistive Technology Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectAmmunition</name>
        <dataType>String</dataType>
        <expression>&quot;Ammunition Issuance Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectDevice</name>
        <dataType>String</dataType>
        <expression>&quot;Device Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectOther</name>
        <dataType>String</dataType>
        <expression>&quot;Asset Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectSoftware</name>
        <dataType>String</dataType>
        <expression>&quot;Software Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectUniform</name>
        <dataType>String</dataType>
        <expression>&quot;Uniform Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formulaCaseSubjectWeapon</name>
        <dataType>String</dataType>
        <expression>&quot;Weapon Issuance Request: &quot; &amp; {!loopPositionAssets.Product__r.Name}</expression>
    </formulas>
    <interviewLabel>Employee - Create Cases from Position Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee - Create Cases from Position Assets</label>
    <loops>
        <name>loopPositionAssets</name>
        <label>Loop on Position Assets</label>
        <locationX>2235</locationX>
        <locationY>1344</locationY>
        <collectionReference>getPositionAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decProductFamily</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createCaseRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseRecords</name>
        <label>Create Case Records</label>
        <locationX>2235</locationX>
        <locationY>1564</locationY>
        <inputReference>varCasesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the employee contact record information</description>
        <name>getContactRecord</name>
        <label>Get Contact Record</label>
        <locationX>678</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decPositionOnContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPositionAssets</name>
        <label>Get Position Assets</label>
        <locationX>1016</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCountPositionAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactRecord.Position_Current__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAccessibility</name>
        <label>Get Queue - Accessibility</label>
        <locationX>1617</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueHR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessibility_Team_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAmory</name>
        <label>Get Queue - Armory</label>
        <locationX>1906</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeITCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Armory_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueHR</name>
        <label>Get Queue - HR</label>
        <locationX>1762</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAmory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueIT</name>
        <label>Get Queue - IT</label>
        <locationX>1461</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAccessibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Help_Desk_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the case record type for &quot;Accommodation Request&quot;</description>
        <name>getRecordTypeAccommodation</name>
        <label>Get Record Type - Accommodation</label>
        <locationX>2081</locationX>
        <locationY>1036</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeHRCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accommodation_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the case record type for &quot;Accommodation Request&quot;</description>
        <name>getRecordTypeArmory</name>
        <label>Get Record Type - Armory</label>
        <locationX>2080</locationX>
        <locationY>1344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPositionAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Armory_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the case record type for &quot;HR Case&quot; (a generic HR record type)</description>
        <name>getRecordTypeHRCase</name>
        <label>Get Record Type - HR Case</label>
        <locationX>2081</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeArmory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR_Case_Requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type IT for the case record type &quot;IT Case Requests&quot;</description>
        <name>getRecordTypeITCase</name>
        <label>Get Record Type - IT Case</label>
        <locationX>2081</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeAccommodation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Case_Requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>552</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>getContactRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case record for access profile id</description>
        <name>AccessCaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReportsToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCasesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCountPositionAssets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
