force-app/main/default/flows/gps_LPI_Create_Business_License_from_Business_License_Application_PLA_to_PL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>License Issued 👊</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Creates a Business License record and relates it to the Business License Application. Changes the Business License Application status to License Issued. Flow is triggered by the Dynamic Action - Issue License - on the BLA record page. The dynamic action is only visible once the BLA&apos;s status is set to Approved.
Created by Andy Schmiechen</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBusiness_License_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Business_License_Application_BLA.Account.Name} &amp; &quot; | &quot; &amp; {!Get_Business_License_Application_BLA.LicenseType.Name} &amp; &quot; | &quot; &amp; text(Today())</expression>
    </formulas>
    <interviewLabel>gps_LPI - Create Business License from Business License Application (PLA to PL) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gps_LPI - Create Business License from Business License Application (PLA to PL)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Business_License</name>
        <label>Business License</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Business_License_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Business_License_Application_BLA.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Enter_License_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Business_License_Application_BLA.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodStart</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>Get_Business_License_Application_BLA.LicenseType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationStatus</field>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_License_Application_BLA</name>
        <label>Get Business License Application (BLA)</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrIssueLicense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_License_Application</name>
        <label>Update Business License Application</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>Business_License</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>License Issued</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <screens>
        <name>scrIssueLicense</name>
        <label>Issue License</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_License</targetReference>
        </connector>
        <fields>
            <name>txtIssueLicense</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Issue License&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Now that the inspection is complete, you&apos;re ready to issue the license.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_License_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fxBusiness_License_Name</elementReference>
            </defaultValue>
            <fieldText>Enter License Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtSendOptions</name>
            <fieldText>&lt;p&gt;Choose how to deliver the license certificate:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrIssueLicense_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrIssueLicense_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Message</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Email Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrIssueLicense_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SMS_Message</name>
                    <dataType>Boolean</dataType>
                    <fieldText>SMS Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrIssueLicense_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Experience_Site</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Experience Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_License_Application_BLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
