force-app/main/default/flows/gps_Provider_Search_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_First_Searchable_Result_Record</name>
        <label>Assignment First Searchable Result Record</label>
        <locationX>809</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>FirstSearchableFieldRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Searchable_Field_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Searchable_Field_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Second_Searchable_Result</name>
        <label>Assignment Second Searchable Result</label>
        <locationX>807</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>SecondSearchableFieldRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Searchable_Field_Results</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Third_Searchable_Result</name>
        <label>Assignment Third Searchable Result</label>
        <locationX>641</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>ThirdSearchableFieldRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Searchable_Field_Results</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_Which_Searchable_Field_Record_To_Use</name>
        <label>Decide Which Searchable Field Record To Use</label>
        <locationX>556</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Searchable_Field_Record_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecondSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThirdSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_First_Searchable_Result_Record</targetReference>
            </connector>
            <label>First Searchable Field Record Is Null</label>
        </rules>
        <rules>
            <name>Second_Searchable_Field_Record_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecondSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThirdSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Second_Searchable_Result</targetReference>
            </connector>
            <label>Second Searchable Field Record Is Null</label>
        </rules>
        <rules>
            <name>Third_Searchable_Field_Record_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecondSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThirdSearchableFieldRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Third_Searchable_Result</targetReference>
            </connector>
            <label>Third Searchable Field Record Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Provider Search Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider Search Referral</label>
    <loops>
        <name>Loop_Searchable_Field_Results</name>
        <label>Loop Searchable Field Results</label>
        <locationX>564</locationX>
        <locationY>339</locationY>
        <collectionReference>Get_Searchable_Field_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_Which_Searchable_Field_Record_To_Use</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Provider_Referral</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>216</locationX>
        <locationY>834</locationY>
        <connector>
            <targetReference>confirm</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientId</field>
            <value>
                <elementReference>contactlookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName</field>
            <value>
                <elementReference>contactlookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProviderId</field>
            <value>
                <elementReference>FirstSearchableFieldRecord.ProviderId__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProviderName</field>
            <value>
                <elementReference>FirstSearchableFieldRecord.ProviderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferralDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferralType</field>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Referral</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Searchable_Field_Records</name>
        <label>Get Searchable Field Records</label>
        <locationX>572</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Searchable_Field_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedSearchResultRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitPrvdSearchableFld</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>confirm</name>
        <label>confirm</label>
        <locationX>247</locationX>
        <locationY>1004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirm2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GreenCheck</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Referral Successfully Created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Provider_Referral</name>
        <label>Create Provider Referral</label>
        <locationX>217</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Referral</targetReference>
        </connector>
        <fields>
            <name>Create_Provider_Referral_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Provider_Referral_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>providerinfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Provider Name: &lt;/strong&gt;{!FirstSearchableFieldRecord.ProviderName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Provider Specialty: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Provider Type: &lt;/strong&gt;{!FirstSearchableFieldRecord.ProviderType}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Provider_Referral_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactlookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Searchable_Field_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstSearchableFieldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitPrvdSearchableFld</objectType>
    </variables>
    <variables>
        <name>SecondSearchableFieldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitPrvdSearchableFld</objectType>
    </variables>
    <variables>
        <name>selectedSearchResultRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdSearchableFieldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitPrvdSearchableFld</objectType>
    </variables>
</Flow>
