force-app/main/default/flows/gps_Location_Access_Permit_Request2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>asign_visitor_auch_schedule</name>
        <label>asign visitor auch schedule</label>
        <locationX>2025</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.AuthStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.AuthEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_End_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loc_escort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assgn_morning</name>
        <label>assgn morning</label>
        <locationX>1722</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>06:00</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12:00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_case</name>
        <label>assign case</label>
        <locationX>842</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>raw_case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_for_location_access_permit.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccount.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_case_to_IA</name>
        <label>assign case to IA</label>
        <locationX>2614</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>raw_IA.ApplicationCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.LicenseTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Emergency_Service_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_for_location_access_permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_IA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_dates</name>
        <label>assign dates</label>
        <locationX>2086</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.AuthStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.AuthEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.WorkDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_Preferred_or_Available_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emp_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_emp_name_address</name>
        <label>assign emp name address</label>
        <locationX>2220</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_Role_or_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_Employee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emp_Home_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_person_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_evening</name>
        <label>assign evening</label>
        <locationX>1846</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02:00</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20:00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IA2</name>
        <label>Assign IA2</label>
        <locationX>1327</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__LocationAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_or_Visitor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_night</name>
        <label>assign night</label>
        <locationX>1720</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>22:00</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.PublicSector__Authorization_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>04:00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_auth_location</name>
        <label>assign to auth location</label>
        <locationX>2619</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>raw_auth_place.PlaceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_auth_place.RgltyAuthApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_IA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_auth_place</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_auth_schedule</name>
        <label>assign to auth schedule</label>
        <locationX>2803</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>raw_loc_auth_schedule.AuthApplPlaceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_auth_place.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_auth_schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_IA1</name>
        <label>assign to IA1</label>
        <locationX>1148</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__FrequencyofAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frequency_of_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__AccessReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Access1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_scr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_person_account</name>
        <label>assign to person account</label>
        <locationX>510</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_user.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_user.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IA_assign_escort</name>
        <label>IA assign escort</label>
        <locationX>2349</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__LocationContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LCName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__LocationContactTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LC_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__LocationContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LC_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visitor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vis_contact_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>visitor_assign_name_address</name>
        <label>visitor assign name address</label>
        <locationX>2345</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_ur_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vi_ur_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_IA.PublicSector__OrganizationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_Ur_Business_or_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_ur_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_ur_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vi_ur_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_person_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_Exists</name>
        <label>Does Account Exists</label>
        <locationX>499</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>assign_to_person_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>account does not exist</defaultConnectorLabel>
        <rules>
            <name>account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccount.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_for_location_access_permit</targetReference>
            </connector>
            <label>account exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_or_Visitor</name>
        <label>Employee or Visitor</label>
        <locationX>1443</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>visitor_when_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>visitor</defaultConnectorLabel>
        <rules>
            <name>employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>raw_IA.PublicSector__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>employee_when</targetReference>
            </connector>
            <label>employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>shift_check</name>
        <label>shift check</label>
        <locationX>1708</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>no shift selected</defaultConnectorLabel>
        <rules>
            <name>morning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_or_Available_Shifts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6:00 AM - 12:00 PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assgn_morning</targetReference>
            </connector>
            <label>morning</label>
        </rules>
        <rules>
            <name>evening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_or_Available_Shifts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2:00 PM - 8:00 PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_evening</targetReference>
            </connector>
            <label>evening</label>
        </rules>
        <rules>
            <name>night</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_or_Available_Shifts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10 PM - 4:00 AM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_night</targetReference>
            </connector>
            <label>night</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>all_addresses</name>
        <dataType>String</dataType>
        <displayField>Street</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AddressType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressType</elementReference>
            </value>
        </filters>
        <object>Address</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Auth_Loc_Shifts</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__Preferred_or_Available_Shifts__c</picklistField>
        <picklistObject>AuthLocationAccessSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Auth_Sch_EndTimes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__Authorization_End_Time__c</picklistField>
        <picklistObject>AuthLocationAccessSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Auth_Sch_StartTimes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__Authorization_Start_Time__c</picklistField>
        <picklistObject>AuthLocationAccessSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Auth_Sch_WorkDay</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WorkDay</picklistField>
        <picklistObject>AuthLocationAccessSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IA_AccessReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__AccessReason__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IA_Freq</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__FrequencyofAccess__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IA_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__Role__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>current_user</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Location Access Permit Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Access Permit Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_auth_place</name>
        <label>create auth place</label>
        <locationX>2812</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>assign_to_auth_schedule</targetReference>
        </connector>
        <inputReference>raw_auth_place</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_auth_schedule</name>
        <label>create auth schedule</label>
        <locationX>2800</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>get_new_IA_name</targetReference>
        </connector>
        <inputReference>raw_loc_auth_schedule</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_case</name>
        <label>create case</label>
        <locationX>1024</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
        <inputReference>raw_case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_IA</name>
        <label>create IA</label>
        <locationX>2615</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>assign_to_auth_location</targetReference>
        </connector>
        <inputReference>raw_IA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>698</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Get_Record_Type_for_location_access_permit</targetReference>
        </connector>
        <inputReference>PersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Addresses</name>
        <label>Get_All_Addresses</label>
        <locationX>176</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AddressType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_user</name>
        <label>Get_current_user</label>
        <locationX>175</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Emergency_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>current_user</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Emergency_Service_Type</name>
        <label>get Emergency Service Type</label>
        <locationX>175</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegulatoryAuthorisationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryAuthorizationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_new_IA_name</name>
        <label>get new IA name</label>
        <locationX>2927</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>raw_IA.Id</elementReference>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <outputAssignments>
            <assignToReference>newIAName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Record_type</name>
        <label>Get PA Record type</label>
        <locationX>305</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_person_account</name>
        <label>get person account</label>
        <locationX>175</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PA_Record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_user.Email</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonTitle</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_for_location_access_permit</name>
        <label>Get IA Record Type for location access permit</label>
        <locationX>694</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location_Access_Permit_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_person_account</name>
        <label>update person account</label>
        <locationX>2452</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>assign_case_to_IA</targetReference>
        </connector>
        <inputReference>PersonAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>emp_contact</name>
        <label>emp_contact</label>
        <locationX>2062</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_emp_name_address</targetReference>
        </connector>
        <fields>
            <name>employee_contact_information</name>
            <fieldText>&lt;p&gt;What is your contact information?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emp_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.FirstName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_Role_or_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.PersonTitle</elementReference>
            </defaultValue>
            <fieldText>Role or Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_Employee_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.AccountNumber</elementReference>
            </defaultValue>
            <fieldText>Employee Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_Home_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Home Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>employee_when</name>
        <label>employee when</label>
        <locationX>1574</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>shift_check</targetReference>
        </connector>
        <fields>
            <name>Emp_When_you_need_access</name>
            <fieldText>&lt;p&gt;When do you need access?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emp_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_Preferred_or_Available_Days</name>
            <choiceReferences>Auth_Sch_WorkDay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred or Available Days</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_or_Available_Shifts</name>
            <choiceReferences>Auth_Loc_Shifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred or Available Shifts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>loc_escort</name>
        <label>loc_escort</label>
        <locationX>2189</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IA_assign_escort</targetReference>
        </connector>
        <fields>
            <name>location_contact_dt</name>
            <fieldText>&lt;p&gt;Who is your location contact or escort?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LCName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LC_Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LC_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_scr</name>
        <label>Location SCr</label>
        <locationX>1231</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_IA2</targetReference>
        </connector>
        <fields>
            <name>dt2</name>
            <fieldText>&lt;p&gt;Where is the location or facility?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Address</name>
            <choiceReferences>all_addresses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location Address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>1031</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_to_IA1</targetReference>
        </connector>
        <fields>
            <name>dq1</name>
            <fieldText>&lt;p&gt;What is your role and why do you need access to the location or facility?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Role</name>
            <choiceReferences>IA_Role</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frequency_of_Access</name>
            <choiceReferences>IA_Freq</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency of Access</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Access1</name>
            <choiceReferences>IA_AccessReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>summary</name>
        <label>summary</label>
        <locationX>3026</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thanks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your application &lt;/span&gt;{!newIAName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; was submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>vis_contact_info</name>
        <label>vis_contact_info</label>
        <locationX>2350</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>visitor_assign_name_address</targetReference>
        </connector>
        <fields>
            <name>your_contact_dt</name>
            <fieldText>&lt;p&gt;What is your contact information?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vi_ur_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.FirstName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>vi_ur_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.PersonTitle</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_Ur_Business_or_Organization</name>
            <dataType>String</dataType>
            <fieldText>Business or Organization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_ur_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_ur_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.PersonMobilePhone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_ur_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAccount.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>visitor_when_screen</name>
        <label>visitor when screen</label>
        <locationX>1586</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asign_visitor_auch_schedule</targetReference>
        </connector>
        <fields>
            <name>When_you_need_access</name>
            <fieldText>&lt;p&gt;When do you need access?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vi_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_Start_Time</name>
            <choiceReferences>Auth_Sch_StartTimes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vi_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vi_End_Time</name>
            <choiceReferences>Auth_Sch_EndTimes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>End Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>PublicSector__Location_Access_Permit_Request</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>Get_All_Addresses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newIAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raw_auth_place</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthApplicationPlace</objectType>
    </variables>
    <variables>
        <name>raw_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>raw_IA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>raw_loc_auth_schedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthLocationAccessSchedule</objectType>
    </variables>
    <variables>
        <name>RegulatoryAuthorisationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
