force-app/main/default/flows/gps_CreateDisbursementAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Successtoast</name>
        <label>Successtoast</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Disbursement Issued</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>To manually trigger first disbursement for demo purposes - displayed as quick action on Benefit Assignment page</description>
    <environments>Default</environments>
    <interviewLabel>CreateDisbursementAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateDisbursementAction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDisbursement</name>
        <label>CreateDisbursement</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Successtoast</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualCompletionDate</field>
            <value>
                <elementReference>GetBenefitAssignment.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus__NotFound</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitAssignmentId__NotFound</field>
            <value>
                <elementReference>GetBenefitAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitCategory</field>
            <value>
                <stringValue>Monetary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementAmount</field>
            <value>
                <elementReference>GetBenefitAssignment.EntitlementAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PayoutAmount</field>
            <value>
                <elementReference>GetBenefitAssignment.EntitlementAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipientId__NotFound</field>
            <value>
                <elementReference>GetBenefitAssignment.EnrolleeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>GetBenefitAssignment.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetBenefitAssignment</name>
        <label>GetBenefitAssignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateDisbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBenefitAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
