force-app/main/default/flows/GrantApplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_Confirmation</name>
        <label>Send Email Confirmation</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Grant Application Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Txt_EmailConfirmation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GrantmakingApplication.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Query_Community_User_s_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Autocomplete_Application</name>
        <label>Autocomplete Application</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.FundingOpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.ApplicationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingRequestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.RequestedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_will_you_use_the_funds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrantmakingApplication.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grant Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateApplication</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>GeographicAreaServed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>outfunds__Geographical_Area_Served__c</picklistField>
        <picklistObject>outfunds__Funding_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FundingRequestName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Query_Community_User_s_Contact.Id}), {!$User.FirstName} + &quot; &quot; + {!$User.LastName}, {!Query_Community_User_s_Contact.Name})+ &apos;: &apos; + {!Query_Funding_Program.Name}</expression>
    </formulas>
    <interviewLabel>GrantApplication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GrantApplication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplication</name>
        <label>Create Application</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Send_Email_Confirmation</targetReference>
        </connector>
        <inputReference>GrantmakingApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Community_User_s_Contact</name>
        <label>Query Community User&apos;s Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Funding_Program</name>
        <label>Query Funding Program</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Community_User_s_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2023-2024 Relief &amp; Reinvestment Grant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Autocomplete_Application</targetReference>
        </connector>
        <fields>
            <name>FundingProgramName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(134, 132, 132);&quot;&gt;Program Name: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(134, 132, 132);&quot;&gt;{!Query_Funding_Program.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgramDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Description: &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Query_Funding_Program.&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;FundingOpportunity&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeographicAreaServed1</name>
            <choiceReferences>GeographicAreaServed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Geographic Area Served</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Requested Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>How_will_you_use_the_funds</name>
            <fieldText>How will you use the funds?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_Application</name>
        <label>Navigate to Application</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NavigatetoApp</name>
            <extensionName>sfdo_grants:flowNavigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GrantmakingApplication.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Application</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Thanks. Now, in the next step, you can:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Submit budget plan&lt;/li&gt;&lt;li&gt;Upload supporting documents&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Funding_Program</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Txt_EmailConfirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your grant application has been submitted. Thank you.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>outfunds__Funding_Request__c</objectType>
    </variables>
    <variables>
        <name>GrantmakingApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
