force-app/main/default/flows/Interview_Conduct_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignIncrementTotalQuestionScore</name>
        <label>Increment Total Question Score</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varTotalQuestionScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewTotalQuestionScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuestionCount</name>
        <label>Assign Question Count</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varQuestionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getInterviewQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruQuestions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decQuestionsFound</name>
        <label>Questions Found?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>assignQuestionCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>outQuestionsNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInterviewQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCompleteInterview</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_interview_completed</name>
        <label>Is interview completed?</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>getInterviewQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_interview_completed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInterview.Status_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen02_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allows an interviewer to cycle through the questions they need to ask in the interview (Interview Process records) and then changes the Interview status to Completed.</description>
    <dynamicChoiceSets>
        <name>listRatings</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Raiting__c</picklistField>
        <picklistObject>Interview_Process__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaNewTotalQuestionScore</name>
        <dataType>Number</dataType>
        <expression>{!varTotalQuestionScore} + {!loopThruQuestions.Score__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Interview - Conduct Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant - Interview - Conduct Interview</label>
    <loops>
        <name>loopThruQuestions</name>
        <label>Loop Thru Questions</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <collectionReference>getInterviewQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCompleteInterview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApplicantContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInterview.Applicantion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplicantContact</name>
        <label>Get Applicant Contact</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_interview_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInterview.Applicantion__r.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInterview</name>
        <label>Get Interview</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInterviewQuestions</name>
        <label>Get Interview Questions</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decQuestionsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCompleteInterview</name>
        <label>Complete the Interview</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Check__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecordResponseRating</name>
        <label>Record Response/Rating</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>assignIncrementTotalQuestionScore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruQuestions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interviewer_Notes__c</field>
            <value>
                <elementReference>input_InterviewerNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raiting__c</field>
            <value>
                <elementReference>input_Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Interview_Process__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen01</name>
        <label>Ask/Answer Question</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateRecordResponseRating</targetReference>
        </connector>
        <fields>
            <name>text01aa</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Get_Applicant.Area_of_Interest__c} Interview&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Applicant:  {!getApplicantContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Question:﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;{!loopThruQuestions.Question__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_InterviewerNotes</name>
            <fieldText>Interviewer Notes:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Rating</name>
            <choiceReferences>listRatings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your Rating:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>Complete Interview</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!getInterview.Applicantion__r.Area_of_Interest__c} Interview&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Applicant:  &lt;/b&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!getApplicantContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Great interview!  &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;All questions have been asked and answered.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank the applicant for their time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If they have questions about timing or when they will know the outcome of the interview phase, recommend that they:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Continue to check the status of their application from the Applicant Community.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Wait for notifications from the Recruiting Team, which will be sent according to their contact preferences (email, SMS, etc.)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This interview has been marked as &quot;Complete&quot; and a thank you email has been sent to the applicant.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02_0</name>
        <label>Interview Previously Completed Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text01a_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!getInterview.Applicantion__r.Area_of_Interest__c} Interview&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Applicant:  &lt;/b&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!getApplicantContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This interview has been marked as completed. Thank you for your help!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInterview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalQuestionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
