force-app/main/default/flows/item_1637151598263_StartResignationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Letter_of_Resignation_docId_assignment</name>
        <label>Letter_of_Resignation_docId_assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Letter_of_Resignation_docId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Letter_of_Resignation_loopVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SvcCatalogAttachedContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Letter_of_Resignation_loopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Letter_of_Resignation_loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>org_base_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_530}, FIND(&apos;/services/&apos;, {!$Api.Partner_Server_URL_530}))</expression>
    </formulas>
    <isTemplate>true</isTemplate>
    <label>Start Resignation Process</label>
    <loops>
        <name>Letter_of_Resignation_loop</name>
        <label>Letter_of_Resignation Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>Letter_of_Resignation_loopVar</assignNextValueToReference>
        <collectionReference>Letter_of_Resignation_docIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Letter_of_Resignation_docId_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Service_Catalog_Create_Case_Fulfillment_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>ServiceCatalogItemFlow</processType>
    <screens>
        <name>item_1637151598263_StartResignationProcess_questions</name>
        <label>Start Resignation Process Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Letter_of_Resignation_loop</targetReference>
        </connector>
        <fields>
            <name>Last_Day</name>
            <dataType>Date</dataType>
            <fieldText>Last Day</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Letter_of_Resignation</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldText>Letter of Resignation</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Letter of Resignation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Letter_of_Resignation_docIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>New_Workplace</name>
            <dataType>String</dataType>
            <fieldText>New Workplace</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>item_1637151598263_StartResignationProcess_questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Service_Catalog_Create_Case_Fulfillment_Flow</name>
        <label>Fulfillment Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>wkdw__Service_Catalog_Create_Case_Fulfillment_Flow</flowName>
        <inputAssignments>
            <name>AdditionalQuestions</name>
            <value>
                <stringValue>Last Day
{!Last_Day}

Letter of Resignation
{!org_base_url}{!Letter_of_Resignation_docId}

New Workplace
{!New_Workplace}

Additional Information
{!Additional_Information}

</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sc_caseStatus</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sc_casePriority</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sc_caseRecordTypeName</name>
            <value>
                <stringValue>HR_General</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sc_caseOrigin</name>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sc_caseSubject</name>
            <value>
                <stringValue>Resignation</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Letter_of_Resignation_docId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Letter_of_Resignation_docIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Letter_of_Resignation_loopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogAttachedContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
