force-app/main/default/flows/L_P_Bot_Confused_Counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>currentConfusedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConfusedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentConfusedCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_0</name>
        <label>Set to 0</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>newConfusedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_clear_count</name>
        <label>Check clear count</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Increment_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Increment Count</defaultConnectorLabel>
        <rules>
            <name>Clear_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clearConfusedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_0</targetReference>
            </connector>
            <label>Clear count</label>
        </rules>
    </decisions>
    <description>Used for updating/tracking the confusion of the bot, so we can track the number of times they got there, and take action as appropriate.</description>
    <interviewLabel>L&amp;P Bot - Confused Counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L&amp;P Bot - Confused Counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_clear_count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clearConfusedCount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentConfusedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newConfusedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
