force-app/main/default/flows/LP_Bot_Get_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Contact_for_Return</name>
        <label>Set Contact for Return</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_From_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_From_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_From_Collection.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_From_Collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_From_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Size</name>
        <label>Set Result Size</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NumContactsReturned</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Succes_Multiple</name>
        <label>Set Succes</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_None</name>
        <label>Set Success</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Number_of_Results</name>
        <label>Check Number of Results</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Succes_Multiple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumContactsReturned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_From_Collection</targetReference>
            </connector>
            <label>Single Result</label>
        </rules>
        <rules>
            <name>No_Results</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumContactsReturned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_None</targetReference>
            </connector>
            <label>No Results</label>
        </rules>
    </decisions>
    <description>Retrieves the contact based on the email and names provided</description>
    <environments>Default</environments>
    <formulas>
        <name>ContactAddress</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Get_Contact_From_Collection.MailingStreet}) &gt; 0, {!Get_Contact_From_Collection.MailingStreet}, &quot;&quot;) + 
IF(LEN({!Get_Contact_From_Collection.MailingCity})  &gt; 0, &quot;, &quot; + {!Get_Contact_From_Collection.MailingCity}, &quot;&quot;)  +
IF(LEN({!Get_Contact_From_Collection.MailingState}) &gt; 0 , &quot;, &quot; + {!Get_Contact_From_Collection.MailingState}, &quot;&quot;) + 
IF(LEN({!Get_Contact_From_Collection.MailingPostalCode}) &gt; 0 , &quot;, &quot; + {!Get_Contact_From_Collection.MailingPostalCode}, &quot;&quot;) + 
IF(LEN({!Get_Contact_From_Collection.MailingCountry}) &gt; 0 , &quot;, &quot; + {!Get_Contact_From_Collection.MailingCountry}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>LP Bot - Get Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Bot - Get Contact</label>
    <loops>
        <name>Get_Contact_From_Collection</name>
        <label>Get Contact From Collection</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_for_Return</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Result_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumContactsReturned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
