force-app/main/default/flows/LP_Bot_Create_License_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Fields_on_Business_License_Application</name>
        <label>Set Fields on Business License Application</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>BusinessApplication.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>License</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.SitePostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.SiteState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.SiteCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.SiteStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.LicenseTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LicenseType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.ApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.ApplicationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessApplication.Application_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Business_Application</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LP Bot - Create License Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Bot - Create License Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_Application</name>
        <label>Create Business Application</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>BusinessApplication</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Fields_on_Business_License_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>BusinessApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LicenseType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryAuthorizationType</objectType>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
