force-app/main/default/flows/LP_Bot_Create_Bot_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Channel</name>
        <label>Check Channel</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Unknown Channel</defaultConnectorLabel>
        <rules>
            <name>Chat_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoutableId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Chat_Bot_Survey_Fields</targetReference>
            </connector>
            <label>Chat Channel</label>
        </rules>
        <rules>
            <name>Messaging_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoutableId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <label>Messaging Channel</label>
        </rules>
    </decisions>
    <formulas>
        <description>Used to convert text to Boolean due to issues with the OOB Boolean Bot entity</description>
        <name>BotFeedbackBoolean</name>
        <dataType>Boolean</dataType>
        <expression>{!BotFeedback} == &quot;👍&quot;</expression>
    </formulas>
    <interviewLabel>LP Bot - Create Bot Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Bot - Create Bot Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bot_Feedback</name>
        <label>Create Bot Feedback</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Check_Channel</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Comment__c</field>
            <value>
                <elementReference>BotSurveyComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Positive__c</field>
            <value>
                <elementReference>BotFeedbackBoolean</elementReference>
            </value>
        </inputAssignments>
        <object>Bot_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Chat_Bot_Survey_Fields</name>
        <label>Set Chat Bot Survey Fields</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Bot_Feedback</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Transcript__c</field>
            <value>
                <elementReference>RoutableId</elementReference>
            </value>
        </inputAssignments>
        <object>Bot_Feedback__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Bot_Feedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BotFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BotSurveyComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
