force-app/main/default/flows/LP_Bot_Get_Conversation_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Case_Fields</name>
        <label>Assign Case Fields</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Case.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Company_from_Case</name>
        <label>Assign Company from Case</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Case.SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_Fields</name>
        <label>Assign Contact Fields</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Matched_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chatting_from_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Fields_2</name>
        <label>Assign Contact Fields</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Company_from_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Assign Lead Fields</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Lead.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Lead.Company</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Channel_to_Chat</name>
        <label>Set Channel to Chat</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChannelName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chatting_from_Record</name>
        <label>Chatting from Record?</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>No Record Requested</defaultConnectorLabel>
        <rules>
            <name>Individual_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idIndividualLicenseApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Individual_Application</targetReference>
            </connector>
            <label>Individual Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Unknown Channel</defaultConnectorLabel>
        <rules>
            <name>Chat_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Routable_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chat_Transcript</targetReference>
            </connector>
            <label>Chat Transcript</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Routable_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <decisions>
        <description>Pre-Chat Forms lead to the creation of Leads, Contacts, and/or Cases. This element checks which variation of Pre-Chat form is used by the session.</description>
        <name>Prechat_Scenarios_Check</name>
        <label>Pre-chat Scenarios Check</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>No Linked Records</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Fields</targetReference>
            </connector>
            <label>Lead Only</label>
        </rules>
        <rules>
            <name>Contact_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Matched_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Fields</targetReference>
            </connector>
            <label>Contact Only</label>
        </rules>
        <rules>
            <name>Case_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Fields</targetReference>
            </connector>
            <label>Case Only</label>
        </rules>
        <rules>
            <name>Case_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matched_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Matched_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Fields_2</targetReference>
            </connector>
            <label>Case and Contact</label>
        </rules>
    </decisions>
    <description>Loads the information we know about the chat or messaging session before the bot conversation started</description>
    <environments>Default</environments>
    <formulas>
        <name>First_Name_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Matched_Case.SuppliedName}, FIND(&quot; &quot;,{!Matched_Case.SuppliedName})-1)</expression>
    </formulas>
    <formulas>
        <name>Last_Name_Formula</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Matched_Case.SuppliedName}, LEN({!Matched_Case.SuppliedName}) - FIND(&quot; &quot;, {!Matched_Case.SuppliedName}))</expression>
    </formulas>
    <interviewLabel>LP Bot - Get Conversation Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Bot - Get Conversation Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Matched_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SuppliedName</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>SuppliedCompany</queriedFields>
        <queriedFields>SuppliedPhone</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Chat_Transcript</name>
        <label>Get Chat Transcript</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Channel_to_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>Case_Id</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>chatStartSiteName</assignToReference>
            <field>ChatStartSite__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>idIndividualLicenseApplication</assignToReference>
            <field>IndLicenseApplication__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Id</assignToReference>
            <field>LeadId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>710</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Matched_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idIndividualLicenseApplication</elementReference>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <outputReference>recIndividualApplication</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AmountPaid</queriedFields>
        <queriedFields>AppliedDate</queriedFields>
        <queriedFields>Type_of_License__c</queriedFields>
        <queriedFields>Category</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prechat_Scenarios_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matched_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Company</queriedFields>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChannelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>chatStartSiteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idIndividualLicenseApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Matched_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Matched_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Matched_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Matched_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recIndividualApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
