force-app/main/default/flows/Mock_Finance_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Disbursement</name>
        <label>Add Disbursement</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DisbursementToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Disbursements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Disbursements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Disbursement_Fields</name>
        <label>Set Disbursement Fields</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_Disbursements.outfunds__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Disbursements.outfunds__Disbursement_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EFT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Disbursement</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Mock Finance Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mock Finance Integration</label>
    <loops>
        <name>Loop_Disbursements</name>
        <label>Loop Disbursements</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Related_Disbursements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Disbursement_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Disbursement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Funding_Request</name>
        <label>Get Funding Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>outfunds__Funding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Disbursements</name>
        <label>Get Related Disbursements</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>outfunds__Funding_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Disbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disbursement</name>
        <label>Update Disbursement</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>DisbursementToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Financial Integration Header</description>
        <name>Financial_Integration</name>
        <label>Financial Integration</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Funding_Request</targetReference>
        </connector>
        <fields>
            <name>DescriptionText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 174, 255);&quot;&gt;﻿A bi-directional integration between Salesforce and your Financial system can be easily achieved. In this case, Salesforce will send the scheduled disbursements and the Financial system will return the updated data.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hourglass</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://tgms-2022-demo--c.documentforce.com/sfc/servlet.shepherd/version/download/0685f0000014QVH?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Financial_Integration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DisbursementToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>outfunds__Disbursement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
