force-app/main/default/flows/pbu_Bot_Get_Knowledge_Article_by_Article_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Base_URL</name>
        <label>Get Base URL</label>
        <locationX>390</locationX>
        <locationY>197</locationY>
        <actionName>PBUCommBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_URL</targetReference>
        </connector>
        <inputParameters>
            <name>CommunityName</name>
            <value>
                <elementReference>vCommunityName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PBUCommBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>vBaseURL</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>New_URL</name>
        <label>New URL</label>
        <locationX>538</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>vFinalURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fURL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Flow to return the chat answer for a knowledge article by article number.  You need to provide the name of the community as input to this flow as it also returns a link to the article in that community.</description>
    <formulas>
        <name>fURL</name>
        <dataType>String</dataType>
        <expression>{!vBaseURL} &amp; {!vURL}</expression>
    </formulas>
    <interviewLabel>Bot-Get Knowledge Article by Article Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot-Get Knowledge Article by Article Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_KA_by_KA_Number</name>
        <label>Get KA by KA Number</label>
        <locationX>235</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Base_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArticleNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vArticleNumber</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>vChatAnswer</assignToReference>
            <field>Chat_Answer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vURL</assignToReference>
            <field>UrlName</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_KA_by_KA_Number</startElementReference>
    <status>Active</status>
    <variables>
        <name>vArticleNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChatAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCommunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFinalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
