force-app/main/default/flows/pbu_Bot_Get_Top_N_Cases_by_Contact_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Grab_Top_N_Cases</name>
        <label>Grab Top N Cases</label>
        <locationX>657</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>cTopCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Less_than_N</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Less_than_N</name>
        <label>Less than N</label>
        <locationX>553</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_N_label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fMaxToReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Cases</targetReference>
            </connector>
            <label>Less than N</label>
        </rules>
    </decisions>
    <description>Flow designed to be used by Bot to return the top N cases by Contact ID.  Bot needs to pass in the Contact ID and # of cases you&apos;d like returned.</description>
    <formulas>
        <name>fMaxToReturn</name>
        <dataType>Number</dataType>
        <expression>VALUE({!vMaxToReturnString})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Bot-Get Top N Cases by Contact ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot-Get Top N Cases by Contact ID</label>
    <loops>
        <name>Loop_over_Cases</name>
        <label>Loop over Cases</label>
        <locationX>479</locationX>
        <locationY>160</locationY>
        <assignNextValueToReference>vCase</assignNextValueToReference>
        <collectionReference>cCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Grab_Top_N_Cases</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cases_for_Contact</name>
        <label>Get All Cases for Contact</label>
        <locationX>258</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>cCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Get_All_Cases_for_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>cCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>cTopCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vMaxToReturnString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
