force-app/main/default/flows/Setup_Associated_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Business_Location_Setup</name>
        <label>Business Location Setup</label>
        <locationX>902</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>Location.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Location.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Remaining_Address_Fields</name>
        <label>Complete Remaining Address Fields</label>
        <locationX>1210</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>VisitorAddress.AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mailing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Person_Location_Setup</name>
        <label>Person Location Setup</label>
        <locationX>906</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>Location.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Location.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitorAddress.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residence</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Address_Values</name>
        <label>Update Address Values</label>
        <locationX>869</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>Get_Associated_Location_Address.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Associated_Location_Address.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Associated_Location_Address.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Associated_Location_Address.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Associated_Location_Address.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Location_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>653</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Business_Location_Setup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Business Account</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Location_Setup</targetReference>
            </connector>
            <label>Is Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Associated_Location_Exist</name>
        <label>Does Associated Location Exist?</label>
        <locationX>379</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Associated Location</defaultConnectorLabel>
        <rules>
            <name>Update_Existing_Associated_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Locations.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Location_Address</targetReference>
            </connector>
            <label>Update Existing Associated Location</label>
        </rules>
    </decisions>
    <interviewLabel>Setup Associated Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Associated Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>1210</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Create_Associated_Location</targetReference>
        </connector>
        <inputReference>VisitorAddress</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Associated_Location</name>
        <label>Create Associated Location</label>
        <locationX>1350</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Update_Visitor_Address_on_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>1063</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Complete_Remaining_Address_Fields</targetReference>
        </connector>
        <inputReference>Location</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Location_Address</name>
        <label>Get Associated Location Address</label>
        <locationX>655</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Locations.LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Locations</name>
        <label>Get Associated Locations</label>
        <locationX>166</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Associated_Location_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssociatedLocation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Associated_Location_Address</name>
        <label>Update Associated Location Address</label>
        <locationX>1055</locationX>
        <locationY>101</locationY>
        <inputReference>Get_Associated_Location_Address</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitor_Address_on_Location</name>
        <label>Update Visitor Address on Location</label>
        <locationX>1349</locationX>
        <locationY>729</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>VisitorAddress.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <start>
        <locationX>40</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>Get_Associated_Locations</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>VisitorAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
</Flow>
