force-app/main/default/flows/SFA_Seafood_Data_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Default_Quarter</name>
        <label>Get Default Quarter</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>ProductionDataController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Default_Values_for_Production_Submission</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>yearQtr</name>
            <value>
                <stringValue>quarter</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ProductionDataController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Default_Year</name>
        <label>Get Default Year</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>ProductionDataController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Default_Quarter</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>yearQtr</name>
            <value>
                <stringValue>year</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ProductionDataController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Production_Data</name>
        <label>Assign Production Data</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Farm_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Plot_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Farm_Plot_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Office_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Office_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Mobile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Year_of_Sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_of_Sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Sale_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sale_Period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Food_Production_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Production_Submission_ID</name>
        <label>Assign Production Submission ID</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Production_Submission_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Year_of_Sale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultQuarter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Sale_Period__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Production_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warning_Message</name>
        <label>Assign Warning Message</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>WarningMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fish_Production_Input.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fish_Hatchery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Production_Data</name>
        <label>Copy 1 of Assign Production Data</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Farm_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Plot_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Farm_Plot_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Office_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Office_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Mobile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Year_of_Sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_of_Sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Sale_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sale_Period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Attention_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarningMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Food_Production_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Values_for_Production_Submission</name>
        <label>Default Values for Production Submission</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Plot_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Farm_Plot_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Farm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Sale_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Quarter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingSubmissionRecord.Year_of_Sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Production_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Food_Produce_List_Assignment</name>
        <label>Food Produce List Assignment</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>FoodProduceCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fish_Production_Input.foodProduceList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Warning_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CommercialFishFarmChoice</name>
        <choiceText>Commercial Fish Farm 生产鱼只</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Fish Farm</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommercialHatcheryChoice</name>
        <choiceText>Commercial Hatchery 生产鱼苗/鱼卵</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Hatchery</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_Existing</name>
        <label>Has Existing?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing</defaultConnectorLabel>
        <rules>
            <name>HasExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingSubmissionRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Production_Submission_ID</targetReference>
            </connector>
            <label>Has Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Fish_Farm</name>
        <label>Has Fish Farm</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Has_Fish_Hatchery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Fish_Farm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produce_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommercialFishFarmChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Produce_Declaration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Fish_Hatchery</name>
        <label>Has Fish Hatchery</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Hatchery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produce_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommercialHatcheryChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hatchery_Produce_Declaration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SalePeriodChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sale_Period__c</picklistField>
        <picklistObject>Food_Production_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpeciesOfFishChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Species_of_Fish__c</picklistField>
        <picklistObject>Food_Production_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Current_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR( {!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>DiplayWarningText</name>
        <dataType>String</dataType>
        <expression>IF({!WarningMessage} != &quot;&quot;, &quot;Warning&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>SFA Seafood Data Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFA Seafood Data Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Production_Data</name>
        <label>Create New Production Submission Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Contact_Data</targetReference>
        </connector>
        <inputReference>GetExistingSubmissionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingSubmissionRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Production_Data</name>
        <label>Get Existing Production Data</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Food_Production_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExistingSubmissionRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Food_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingSubmissionRecord</name>
        <label>Get Existing Submission</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Farm_Plot_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSN1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Food_Production_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Food_Production_Submission</name>
        <label>Copy 1 of Update Food Production Submission</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>GetExistingSubmissionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Food_Production_Data</name>
        <label>Update Food Production Submission</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Has_Fish_Farm</targetReference>
        </connector>
        <inputReference>GetExistingSubmissionRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Data</name>
        <label>Contact Data</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Production_Data</targetReference>
        </connector>
        <fields>
            <name>Submission_Progress</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Contact Details,Production Input, Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Contact Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Farm_Plot_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetExistingSubmissionRecord.Farm_Plot_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Farm/Plot Number 农场/农地 编号</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Data_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Farm_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetExistingSubmissionRecord.Farm_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Farm Name 农场名称</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Person</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Name</elementReference>
            </defaultValue>
            <fieldText>Contact Person 联络人</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone 手机号码</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+65 98737211</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Office_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Phone 公司号码</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Year_of_Sale</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Current_Year</elementReference>
                    </defaultValue>
                    <fieldText>Year of Sale 销售年份</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Period</name>
            <choiceReferences>SalePeriodChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetExistingSubmissionRecord.Sale_Period__c</elementReference>
            </defaultValue>
            <fieldText>Sale Period 销售时期</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Produce_Type</name>
            <choiceReferences>CommercialFishFarmChoice</choiceReferences>
            <choiceReferences>CommercialHatcheryChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CommercialFishFarmChoice</defaultSelectedChoiceReference>
            <fieldText>Produce Type 产品种类</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hatchery_Produce_Declaration</name>
        <label>Hatchery Produce Declaration</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <fields>
            <name>Hatchery_Produce_Declaration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hatchery_Produce_Declaration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hatchery_Produce_Declaration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CommercialHatcheryHeader</name>
                    <fieldText>&lt;h2&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Commercial Hatchery&lt;/span&gt;&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Dynamic_Progress</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <stringValue>Contact Details,Production Input, Summary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Production Input</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Path</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Fish_Production_Input</name>
                    <extensionName>c:fishFarmProductionInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Final_Remarks</name>
                    <defaultValue>
                        <stringValue>{!Remarks}</stringValue>
                    </defaultValue>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hatchery_Produce_Declaration_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Produce_Declaration</name>
        <label>Produce Declaration</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Food_Produce_List_Assignment</targetReference>
        </connector>
        <fields>
            <name>Produce_Declaration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Produce_Declaration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Produce_Declaration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dynamic_Progress</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <stringValue>Contact Details,Production Input, Summary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Production Input</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Path</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CommercialFishFarmHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Commercial Fish Farm&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Fish_Production_Input</name>
                    <extensionName>c:fishFarmProductionInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>farmId</name>
                        <value>
                            <elementReference>Farm_Plot_Number</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedYear</name>
                        <value>
                            <elementReference>Year_of_Sale</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedQuarter</name>
                        <value>
                            <elementReference>Sale_Period</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>foodProductionSubmissionId</name>
                        <value>
                            <elementReference>GetExistingSubmissionRecord.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Remarks</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Produce_Declaration_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Production_Data</targetReference>
        </connector>
        <fields>
            <name>Summary_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Summary</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <stringValue>Contact Details,Production Data Input,Summary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Summary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Path</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>WarningMessageDisplay</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 141, 3); font-size: 14px;&quot;&gt;{!DiplayWarningText}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 141, 3);&quot;&gt;{!WarningMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Details</name>
            <fieldText>Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SpaceDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Label_Farm_Plot_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Farm/Plot Number:&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Farm_Plot_Number}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Label_Farm_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Farm Name&lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Farm_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CPLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Person&lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Contact_Person}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MobileLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Mobile Number&lt;/strong&gt;: {!Mobile_Phone.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OfficeLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Office Phone&lt;/strong&gt;: {!Office_Phone.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>YearLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Year of Sale:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Year_of_Sale}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PeriodLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Period:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Sale_Period}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_Space</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Production_Data</name>
            <fieldText>Production Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Production_Data_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Production_Data_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SpaceDisplay2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Summary_Produce_DataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Food_Production__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Summary Produce</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FoodProduceCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Species_of_Fish__c&quot;,&quot;guid&quot;:&quot;column-1219&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Species of Fish&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-b436&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Unit_of_Measure__c&quot;,&quot;guid&quot;:&quot;column-2727&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit of Measure&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Average_Price__c&quot;,&quot;guid&quot;:&quot;column-e6fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Average Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Transhipped__c&quot;,&quot;guid&quot;:&quot;column-d149&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Transhipped?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Production_Data_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Thank You!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;We have received your submission for {!Year_of_Sale} - {!Sale_Period}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultQuarter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TEXT(YEAR( {!$Flow.CurrentDate}))</stringValue>
        </value>
    </variables>
    <variables>
        <name>FoodProduce</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Food_Production__c</objectType>
    </variables>
    <variables>
        <name>FoodProduceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Food_Production__c</objectType>
    </variables>
    <variables>
        <name>FoodProductionObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Food_Production_Submission__c</objectType>
    </variables>
    <variables>
        <name>Production_Submission_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetExistingSubmissionRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>QuarterYearList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarningMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
