force-app/main/default/flows/Update_BLA_status_for_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>BLA_to_Inspection_Phase</name>
        <label>BLA to Inspection Phase</label>
        <locationX>520</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection Phase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RCV_Is_Open</name>
        <label>RCV Is Open</label>
        <locationX>802</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>DoesRCVExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnyRCVOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RCV_Is_Resolved</name>
        <label>RCV Is Resolved</label>
        <locationX>971</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>DoesRCVExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BLA_to_Inspection_Completed</name>
        <label>Set BLA to Inspection Completed</label>
        <locationX>1332</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BLA_to_Violations_Observed</name>
        <label>Set BLA to Violations Observed</label>
        <locationX>1174</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Violations Observed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_any_RCVs_Open</name>
        <label>Are any RCVs Open?</label>
        <locationX>1103</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Set_BLA_to_Inspection_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_RCV_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoesRCVExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLA_to_Inspection_Completed</targetReference>
            </connector>
            <label>No RCV Exists</label>
        </rules>
        <rules>
            <name>Open_RCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoesRCVExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnyRCVOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLA_to_Violations_Observed</targetReference>
            </connector>
            <label>Open RCV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visit_Status</name>
        <label>Check Visit Status</label>
        <locationX>513</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Visit_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BLA_to_Inspection_Phase</targetReference>
            </connector>
            <label>New Visit Created</label>
        </rules>
        <rules>
            <name>Visit_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RCVs</targetReference>
            </connector>
            <label>Visit is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Visit_Context_Type</name>
        <label>Determine Visit Context Type</label>
        <locationX>168</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContextId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0f0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BLA</targetReference>
            </connector>
            <label>IsBLA?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_RCV_Status</name>
        <label>Verify RCV Status</label>
        <locationX>957</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>RCV_Is_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RCV_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Each_RCV_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Is_Open</targetReference>
            </connector>
            <label>Is RCV Open</label>
        </rules>
        <rules>
            <name>Is_RCV_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Each_RCV_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Is_Resolved</targetReference>
            </connector>
            <label>Is RCV Resolved</label>
        </rules>
    </decisions>
    <interviewLabel>Update BLA status for Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BLA status for Visit</label>
    <loops>
        <name>Verify_Each_RCV_Status</name>
        <label>Verify Each RCV Status</label>
        <locationX>697</locationX>
        <locationY>24</locationY>
        <collectionReference>Get_RCVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_RCV_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_any_RCVs_Open</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BLA</name>
        <label>Get BLA</label>
        <locationX>371</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Visit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContextId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCVs</name>
        <label>Get RCVs</label>
        <locationX>519</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BLA</name>
        <label>Update BLA</label>
        <locationX>1325</locationX>
        <locationY>536</locationY>
        <inputReference>Get_BLA</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Determine_Visit_Context_Type</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AnyRCVOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DoesRCVExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
